.extendPlugins {
  padding-top: 150px;
  padding-bottom: 150px;
  composes: g-grid-container from global;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 32px;
}

.content {
  grid-column: 1 / -1;
  align-self: center;

  @media (--medium-up) {
    grid-column: 1 / 6;
  }
}

.contentBlocks {
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 32px;

  & > * {
    margin-top: 0 !important;
  }
}

.media {
  position: relative;
  margin-top: 50px;
  grid-column: 1 / -1;

  @media (--medium-up) {
    margin-top: 0;
    grid-column: 6 / -1;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 9999px;
    background: #62d4dc;
    opacity: 0.2;
    filter: blur(304px);
    transform: rotate(19.95deg);
    z-index: -1;
  }
}
