@use "pds/theme";
@use "pds/tokens/color";
@use "pds/tokens/scale";

// FIXME: alphabetize properties
// FIXME: make/use _config
// FIXME: local vars to pds vars mapping

.paper {
  background-color: color.$white;
  border-radius: theme.$border-radius;
  box-sizing: border-box;
  box-shadow: 0 scale.$sm-3 scale.$base rgba(0, 0, 0, 0.03);

  &.outlined {
    border: 1px solid theme.$border-color-l1;
  }

  &.square {
    border-radius: 0;
  }
}
