.featuresCarousel {
  @media (--medium-up) {
    display: none;
  }

  & .feature {
    border-left: none;
    padding-left: 0;
    margin: 40px 0 17px;

    & p {
      margin: 8px 0 0;
    }
  }

  & .body {
    opacity: 1;
    max-height: unset;
  }

  /* nuka-carousel overrides */
  & :global {
    & .slider-frame,
    & .slider-slide:focus {
      outline: none !important;
    }
  }

  & .pagingDots {
    & :global(.paging-item:not(.active) > button) {
      opacity: 1 !important;
      fill: var(--gray-6) !important;
    }
  }
}

.features {
  display: none;

  @media (--medium-up) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
    min-height: auto;
    overflow-anchor: none;
    align-items: center;
  }
}

.feature {
  border-left: 2px solid;
  border-color: var(--gray-6);
  padding-left: 44px;
  margin: 28px 0;
  min-height: auto;

  & p {
    margin: 0 0 8px;
  }
}

.activeFeature {
  composes: feature;
  border-color: var(--waypoint);

  & .body {
    opacity: 1;
    max-height: 200px;
  }

  & .heading {
    color: var(--black);
  }
}

.body {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  font-size: 15px;
  transition: opacity 0.3s, max-height 0.3s;
}

.options {
  list-style: none;
  margin: 0;
  padding: 0;
}

.heading {
  text-align: left;
  background: none;
  border: none;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  font-family: var(--font-display);
  font-weight: bold;
  color: var(--gray-4);
  cursor: pointer;
}

.terminalWrapper {
  height: 560px;

  & > img {
    width: 100%;
    height: auto;
  }

  @media (--medium-up) {
    width: 400px;
  }

  @media (min-width: 900px) {
    width: 600px;
  }
}

.learnMoreLink {
  display: none;
  text-align: left;

  @media (--medium-up) {
    display: block;
  }
}
