<h3>{{t "page.deployments.title"}}</h3>

<ul data-test-deployment-list=true class="list">
  {{#each @model as |deployment|}}
  <AppItem::Deployment @deployment={{deployment}} />
  {{/each}}
</ul>

{{outlet}}