<h3>Exec</h3>

<div class="output-pane">
  <div class="output">
    <code>exec output row</code>
    <code>exec output row</code>
  </div>

  <div class="run-prompt">
    {{inline-svg "chevron-right" class="icon"}}
  </div>
</div>