<h3>{{t "page.releases.title"}}</h3>

<ul data-test-release-list=true class="list">
  {{#each @model as |release releaseIndex|}}
  <AppItem::Release @release={{release}} @isLatest={{ eq releaseIndex 0}} />
  {{/each}}
</ul>