<Card
  data-test-latest-deployments
  class={{unless @deployments.length 'empty-state'}}
>
  {{#if @deployments.length}}
    <Card::Header>
      <h4>
        <Pds::Icon @type="upload" class="icon" />
        <span>Latest deployment</span>
      </h4>
      <LinkTo @route="workspace.projects.project.app.deployments">
        View all deployments
      </LinkTo>
    </Card::Header>

    <AppCard::Deployment @model={{@deployments.[0] }} />
  {{else}}
    <p>
      <Pds::Icon @type="upload" class="icon" />
      <span>There are no deployments to display yet</span>
    </p>
  {{/if}}
</Card>