<Card
	data-test-latest-releases
	@classNames={{unless @releases.length 'empty-state'}}
>
  {{#if @releases.length}}
    <Card::Header>
      <h4>
        <Pds::Icon @type="public-default" class="icon" />
        <span>Latest release</span>
      </h4>
      <LinkTo @route="workspace.projects.project.app.releases">
        View all releases
      </LinkTo>
    </Card::Header>

    <AppCard::Release @model={{@releases.[0] }} />
  {{else}}
    <p>
      <Pds::Icon @type="public-default" class="icon" />
      <span>There are no releases to display yet</span>
    </p>
  {{/if}}
</Card>