.cards {
  max-width: 880px;
  margin: 0 auto;
}

.logoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.logoDownloadWrapper {
  width: 100%;
}

.version {
  margin-left: 8px;
}

.downloadCards {
  justify-content: center;
  margin: 54px 0 24px;

  & a {
    color: var(--gray-2);
  }

  @media (--medium-up) {
    margin: 64px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 48px;
    justify-items: center;
  }

  & .downloadLink {
    color: var(--brand);
    margin-right: 16px;
  }
}

.downloadCardsSingle {
  composes: downloadCards;

  & .card {
    max-width: unset;
  }

  @media (--medium-up) {
    grid-template-columns: 1fr;

    & .card:first-child {
      margin-bottom: 48px;
    }
  }
}

.card {
  width: 100%;
  min-height: 278px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 40px 32px;
  color: var(--gray-2);
  border: 1px solid var(--gray-6);

  &:first-child {
    border-bottom: none;

    @media (--medium-up) {
      border-bottom: 1px solid var(--gray-6);
    }
  }
}

.packageManagers {
  composes: card;

  & a {
    color: var(--brand);
  }

  & :global {
    & .g-tabs {
      width: 100%;

      @media (--medium-up) {
        width: initial;
      }
    }
  }
}

.soloCard {
  composes: card;
  grid-column: span 2;

  &:first-child {
    border-bottom: 1px solid var(--gray-6);
  }
}

.install {
  color: var(--white);
  background-color: var(--black);
  padding: 16px 24px;
  border-radius: 3px;
  text-align: left;
  margin: 32px 0;

  & pre {
    margin: 0;
    padding: 0;
    background-color: inherit;
    white-space: normal;

    &::before {
      color: #e93471;
      content: '$';
      margin-right: 8px;
    }

    @media (--medium-up) {
      white-space: pre;
    }
  }
}

.cardTitle {
  font-family: var(--font-display);
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--gray-4);
  font-weight: bold;
}

.fastly {
  display: flex;
  align-items: center;
  flex-direction: column;

  & svg path {
    fill: var(--black);
  }

  & img {
    margin-top: 12px;
    width: 48px;
  }
}
