.hero {
  padding-top: 124px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.heroInner {
  --columns: 1;

  display: grid;
  grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
  grid-column-gap: 32px;
  composes: g-grid-container from global;

  @media (--medium-up) {
    --columns: 12;
  }
}

.heroHeading {
  margin: 0;
  font-size: 32px;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: -0.02em;
  grid-column: 1 / -1;

  @media (--medium-up) {
    font-size: 53px;
    line-height: 56px;
    grid-column: 2 / span 10;
  }

  @media (--large) {
    grid-column: 3 / span 8;
  }

  & > em {
    font-style: normal;
    font-weight: 600;
    color: var(--waypoint);
  }
}

.heroDescription {
  position: relative;
  margin: 20px 0 0;
  composes: g-type-body-small from global;
  color: var(--gray-3);
  z-index: 10;
  grid-column: 1 / -1;

  @media (--medium-up) {
    grid-column: 3 / span 8;
  }

  @media (--large) {
    grid-column: 4 / span 6;
  }
}

.heroGraphic {
  margin-top: -150px;
  transform: translateX(32px);

  & > img {
    max-width: none !important;
  }
}
