{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

<span class="hint-link connect-link" role="button" {{on "click" this.toggleHint}}>
  <FlightIcon @name="zap" class="nav-icon" />
  CLI
</span>

{{#if this.hintIsVisible}}
  <div class="cli-hint">
    <p>Connect to your Waypoint instance by running the following command in the CLI</p>
    <ContextCreate></ContextCreate>
    <small><ExternalLink href="https://waypointproject.io/commands/context-create">Read more in our documentation</ExternalLink></small>
  </div>
  <div class="cli-hint-overlay" role="button" {{on "click" this.toggleHint}}></div>
{{/if}}
