{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

<button class="button button--secondary" type="button" {{on "click" this.toggleHint}}>
  <FlightIcon @name="upload" class="icon" />
  <span>Deploy...</span>
</button>

{{#if this.hintIsVisible}}
  <div class="cli-hint">
    <p>To deploy this build you can run the following command in the CLI</p>
    <CopyableCode @ref="deploy-cli-hint">
      <pre><code id="deploy-cli-hint">waypoint deploy {{@sequence}}</code></pre>
    </CopyableCode>
    <small><ExternalLink href="https://waypointproject.io/commands/deploy">Read more in our documentation</ExternalLink></small>
  </div>
  <div class="cli-hint-overlay" role="button" {{on "click" this.toggleHint}}></div>
{{/if}}
