# Each line is a file pattern followed by one or more owners. 
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @hashicorp/waypoint
/ui/ @hashicorp/waypoint-frontend
/builtin/ @hashicorp/waypoint-ecosystem
