[submodule "vendor/proto/api-common-protos"]
	path = vendor/proto/api-common-protos
	url = https://github.com/googleapis/api-common-protos
[submodule "ui/lib/grpc-web"]
	path = ui/lib/grpc-web
	url = https://github.com/grpc/grpc-web.git
