bin/
tmp/

# Repo-specific
.waypoint/
/waypoint
/waypoint-entrypoint
/doc

# TODO(izaak): what generates this during the release? Can we move it somewhere else?
/pkg/dist

# System-specific
.DS_Store

# Default Waypoint database file
data.db
waypoint-restore.db.lock

# .vscode - We intentionally commit .vscode in order to share project-specific settings

.idea
