bin/
tmp/

# Repo-specific
.waypoint/
/waypoint
/waypoint-entrypoint
/doc

# System-specific
.DS_Store

pkg/dist
pkg/bin

# Default Waypoint database file
data.db
waypoint-restore.db.lock

# .vscode - We intentionally commit .vscode in order to share project-specific settings
.vscode/*log

.idea
