{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

{{#if this.hasLogs}}
  <RenderTerminal @terminal={{this.terminal}}/>
{{else}}
  <EmptyState>
    <p>There are no logs to display for this app yet</p>
    <p>Logs will be displayed when the app prints to system out or system error</p>
  </EmptyState>
{{/if}}
