// FIXME: move to _config
// FIXME: un-prefix variables (use module namespacing)
// FIXME: magic numbers?

//edit
$modal-edit-width: 500px;
$modal-edit-title-width: 400px;

//delete
$modal-delete-width: 677px;
$modal-delete-title-width: 540px;

//default
$modal-header-height: 44px;
$modal-default-width: 655px;
$modal-default-title-width: 540px;
