{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{! template-lint-disable link-href-attributes }}
{{! the href will be passed in as part of the attributes here }}
<a target="_blank" rel="noopener noreferrer" ...attributes data-test-external-link>
  {{yield}}
</a>