{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{#if @commit}}
  <span class="git-commit" title="Triggered by commit: {{@commit}}">
    <FlightIcon @name="git-commit"/>
    {{!-- TODO: add git profile picture of user whose commit it was when possible --}}
    <CopyButton @clipboardText={{@commit}}>
     <span class="git-commit__sha">{{truncate-commit @commit}}</span>
    </CopyButton>
  </span>
{{/if}}