{{#if @commit}}
  <span class="git-commit" title="Triggered by commit: {{@commit}}">
    <Pds::Icon @type="git-commit"/><span class="git-commit__sha">{{truncate-commit @commit}}</span>
  </span>
{{/if}}

