{{#if @commit}}
  <span class="git-commit" title="Triggered by commit: {{@commit}}">
    <CopyButton @clipboardText={{@commit}}>
      <FlightIcon @name="git-commit" /><span class="git-commit__sha">{{truncate-commit @commit}}</span>
    </CopyButton>
  </span>
{{/if}}

