{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

<div
  data-test-json-viewer
  class="json-viewer"
>
  {{#if this.parseResult.error}}
    <Pds::ErrorMessage data-test-error-message>{{this.parseResult.error.message}}</Pds::ErrorMessage>
  {{else}}
    <div
      {{code-mirror
        value=this.formattedJSON
        options=this.codeMirrorOptions
      }}
    />
  {{/if}}
</div>
