{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

<ul class="label-list">
  {{#each-in @labels as |key value|}}
    <li class="badge badge--info">{{key}}: {{value}}</li>
  {{/each-in}}
</ul>
