<div class="version-info">
  <ul class="version-info-list">
    <li>Waypoint {{this.versionInfo.version}}</li>
    <li>API version: {{this.versionInfo.api.current}}</li>
    <li>Entrypoint version: {{this.versionInfo.entrypoint.current}}</li>
  </ul>
</div>
