.animatedStepsList {
  display: flex;

  & .indicatorWrapper {
    & > ul {
      position: sticky;
      top: 200px;
      padding-bottom: 395px;
    }

    margin-right: 115px;
    @media (max-width: 1119px) {
      display: none;
    }
  }

  & .stepsList {
    margin-bottom: 46px;
  }

  & .terminalWrapper {
    margin-left: 150px;

    @media (max-width: 1119px) {
      margin-left: 75px;
    }

    @media (max-width: 850px) {
      display: none;
    }

    & > * {
      position: sticky;
      top: 140px;
      box-shadow: rgb(0 0 0 / 0.35) 7px 10px 25px;
      margin-top: -800px;
      height: 571px;

      @media (min-width: 850px) {
        width: 450px;
      }

      @media (min-width: 875px) {
        width: 475px;
      }

      @media (min-width: 900px) {
        width: 520px;
      }

      @media (min-width: 950px) {
        width: 545px;
      }

      @media (min-width: 1000px) {
        width: 570px;
      }

      @media (min-width: 1050px) {
        width: 605px;
      }

      @media (min-width: 1120px) {
        width: 465px;
      }

      @media (min-width: 1150px) {
        width: 515px;
      }

      @media (min-width: 1200px) {
        width: 565px;
      }

      @media (min-width: 1250px) {
        width: 615px;
      }

      @media (min-width: 1300px) {
        width: 645px;
      }

      @media (min-width: 1350px) {
        width: 670px;
      }

      @media (min-width: 1400px) {
        width: 695px;
      }

      @media (min-width: 1450px) {
        width: 720px;
      }

      @media (min-width: 1500px) {
        width: 745px;
      }

      @media (min-width: 1550px) {
        width: 770px;
      }

      @media (min-width: 1600px) {
        width: 795px;
      }

      @media (min-width: 1650px) {
        width: 837px;
      }
    }
  }
}
