.animatedStepsList {
  display: flex;

  & .indicatorWrapper {
    & > ul {
      position: sticky;
      top: 200px;
      padding-bottom: 395px;
    }
  }

  & .stepsList {
    margin-left: 115px;
    margin-bottom: 46px;
  }

  & .terminalWrapper {
    margin-left: 150px;
    & > * {
      position: sticky;
      top: 140px;
      box-shadow: rgb(0 0 0 / 0.35) 7px 10px 25px;
      margin-top: -800px;
    }
  }
}
