<div class="pdsDocs docs-field-name">
  <div>
    <label class="pds-fieldName">label.pds-fieldName</label>
  </div>

  <br />

  <fieldset>
    <legend class="pds-fieldName">legend.pds-fieldName</legend>
  </fieldset>
</div>
