.infoGrid {
  --gutter: 16px;
  @media (max-width: 900px) {
    --gutter: 12px;
  }

  display: flex;
  & ul {
    list-style: none;
    padding: 0;
    margin: calc(-1 * var(--gutter));
    display: flex;

    @media (max-width: 900px) {
      flex-direction: column;
      width: 100%;
      & li {
        width: 100%;
      }
    }

    & li {
      border: 1px solid var(--gray-5, #dbdbdc);
      padding: 30px;
      margin: var(--gutter);
      flex-basis: calc(33.33% - var(--gutter));

      & img {
        max-height: 56px;
        max-width: 56px;
        margin-bottom: 16px;
      }

      & h4 {
        margin-top: 0;
        margin-bottom: 8px;
      }

      & p {
        margin: 0;
        color: var(--gray-2);
      }
    }
  }
}
