/* --- Config:App --- */
@forward "../drawer/config" as drawer-*;
@use "../../theme";
@use "../../tokens/color";

// Typography

// Structure 1.8 (latest as of 2020-04-13)
// expects a body copy of 14px (inherited from Bulma) -- (T_T)
$font-size: 14px; // TODO: update to use scale, once design comes to a decision
$font-family: theme.$body-font-family;

// Colors
$background-color: theme.$background-color;

// Responsive Breakpoints
$media-pc: theme.$media-sm;

// ----- SUBCOMPONENTS ----- //

// TODO: "inverted"/"dark" theme

// --- HEADER --- //
// "dark" themed
$header-background-color: color.$black;
$header-color: color.$white;
$header-height: 4.5rem;

// --- FOOTER --- //
// "dark" themed
$footer-background-color: color.$black;
$footer-color: color.$white;
$footer-height: 2rem;
