.homepageSection {
  padding: 128px 0;
  &.light {
    background: var(--white);
  }
  &.gray {
    background: var(--gray-6);
  }
  &.dark {
    background: var(--black);
    & .gridContainer {
      & > h2:first-of-type {
        color: var(--white);
      }
    }
  }

  & .gridContainer {
    & > h2:first-of-type {
      margin-top: 0;
      margin-bottom: 48px;
    }
  }

  @media (max-width: 600px) {
    padding: 88px 0;
    & .gridContainer {
      & > h2:first-of-type {
        margin-bottom: 32px;
      }
    }
  }
}

.gridContainer {
  composes: g-grid-container from global;
}
