.longformPage {
  & .longformWrapper {
    @media (min-width: 800px) {
      margin-top: 80px;
      margin-bottom: 80px;
      max-width: 70%;
      margin-left: auto;
      margin-right: auto;
    }

    & .alert {
      color: #416f8c;
      padding: 1em;
      background-color: var(--brand-secondary);
      border: 1px solid var(--brand-secondary);
      border-radius: 3px;
    }

    & a {
      color: var(--waypoint-link);
    }
  }
}
