// Display Resolution Tokens
// Useful for mapping to responsive breakpoints.

// Source: https://en.wikipedia.org/wiki/Display_resolution#Common_display_resolutions

// SVGA:
//   [4:3] 800x600
$svga-width: 50rem;
$svga-height: 37.5rem;

// XGA:
//   [4:3] 1024x768
$xga-width: 64rem;
$xga-height: 48rem;

// WXGA:
//   [16:9]  1280x720
//   [16:10] 1280x800
$wxga-width: 80rem;
$wxga-height: 45rem; // smallest height

// SXGA:
//   [5:4] 1280x1024
$sxga-width: 80rem;
$sxga-height: 64rem;

// HD:
//   [~16:9] 1360x768
//   [~16:9] 1366x768
$hd-width: 85rem; // smallest width
$hd-height: 48rem;

// WXGA+:
//   [16:10] 1440x900
$wxgaPlus-width: 90rem;
$wxgaPlus-height: 56.25rem;

// HD+:
//   [16:9] 1600x900
$hdPlus-width: 100rem;
$hdPlus-height: 56.25rem;

// WSXGA+:
//   [16:10] 1680x1050
$wsxgaPlus-width: 105rem;
$wsxgaPlus-height: 65.625rem;

// FHD:
//   [16:9] 1920x1080
$fhd-width: 120rem;
$fhd-height: 67.5rem;

// WUXGA:
//   [16:10] 1920x1200
$wuxga-width: 120rem;
$wuxga-height: 75rem;

// QWXGA:
//   [16:9] 2048x1152
$qwxga-width: 128rem;
$qwxga-height: 72rem;

// QHD:
//   [16:9] 2560x1440
$qhd-width: 160rem;
$qhd-height: 90rem;

// WQHD:
//   [~21:9] 3440x1440
$wqhd-width: 215rem;
$wqhd-height: 90rem;

// UHD: (a.k.a. "4K")
//   [16:9] 3840x2160
$uhd-width: 240rem;
$uhd-height: 135rem;
