// BASE VALUE: 1rem (16px)
//
// SMALL STEPS
//   * decrease from base
//   * arithmetic scale (even values)
// LARGE STEPS:
//   * increase from base
//   * overlapping modular scales:
//     * (1:2) Octave
//     * (8:9) Major Second (rounded to nearest multiple of 4)

$sm-4: 0.125rem; //   2 (-4)
$sm-3: 0.25rem;  //   4 (-3)
$sm-2: 0.5rem;   //   8 (-2)
$sm-1: 0.75rem;  //  12 (-1)
$base: 1rem;     //  16 (0: baseline)
$lg-1: 1.25rem;  //  20 (+1)
$lg-2: 1.5rem;   //  24 (+2)
$lg-3: 1.75rem;  //  28 (+3)
$lg-4: 2rem;     //  32 (+4)
$lg-5: 2.25rem;  //  36 (+5)
$lg-6: 2.5rem;   //  40 (+6)
$lg-7: 3rem;     //  48 (+7)
$lg-8: 3.25rem;  //  52 (+8)
$lg-9: 3.75rem;  //  60 (+9)
$lg-10: 4rem;    //  64 (+10)
$lg-11: 4.25rem; //  68 (+11)
$lg-12: 4.75rem; //  76 (+12)
$lg-13: 5.25rem; //  84 (+13)
$lg-14: 6rem;    //  96 (+14)
$lg-15: 6.5rem;  // 104 (+15)
$lg-16: 7.5rem;  // 120 (+16)
$lg-17: 8rem;    // 128 (+17)
