<div class="output">
    {{#if this.lines}}
    {{#each this.lines as |line|}}
    <code>{{line}}</code>
    {{/each}}
    {{else}}
    <EmptyState>
        <p>Waiting for output</p>
        <p>Logs will be displayed in a moment</p>
    </EmptyState>
    {{/if}}
</div>