{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

<div data-test-operation-logs
  {{did-update this.changeJob @jobId}}
>
  {{#if this.hasLogs}}
    <RenderTerminal @terminal={{this.terminal}}/>
  {{else}}
    <EmptyState>
      <p>No output available</p>
      <p>This could be because the operation did not render any output, or because it is no longer available</p>
    </EmptyState>
  {{/if}}
</div>