<li>
  <LinkTo @route="workspace.projects.project.app.releases" @models={{array @model.project @model.application }}>
    <p>
      <b class="badge badge--version">v98</b>
      <code>abcd1234</code>
    </p>
    <small>
      {{inline-svg "logo-gcp-color" class="icon"}}
      <span>2 hours ago</span>
    </small>
  </LinkTo>
</li>