/* Global Styles */
@import '~@hashicorp/react-global-styles/style.css';
@import '~@hashicorp/react-global-styles/font.css';
@import '~@hashicorp/react-global-styles/custom-properties/color.css';
@import '~@hashicorp/react-global-styles/custom-properties/font.css';
@import '~@hashicorp/react-global-styles/_temporary-to-remove/layout.css';
@import '~@hashicorp/react-global-styles/_temporary-to-remove/tables.css';

/* Code Highlighting */
@import '~@hashicorp/nextjs-scripts/prism/style.css';

/* Global Components */
@import '~@hashicorp/react-button/dist/style.css';
@import '~@hashicorp/react-consent-manager/dist/style.css';
@import '~@hashicorp/react-toggle/dist/style.css';
@import '~@hashicorp/react-section-header/dist/style.css';
@import '~@hashicorp/react-product-downloader/dist/style.css';
@import '~@hashicorp/react-vertical-text-block-list/dist/style.css';
@import '~@hashicorp/react-docs-sidenav/dist/style.css';
@import '~@hashicorp/react-content/dist/style.css';
@import '~@hashicorp/react-subnav/dist/style.css';
@import '~@hashicorp/react-tabs/dist/style.css';
@import '~@hashicorp/react-enterprise-alert/dist/style.css';
@import '~@hashicorp/react-mega-nav/style.css';
@import '~@hashicorp/react-docs-page/style.css';

/* Local Components */
@import '../components/footer/style.css';
@import '../components/homepage-hero/style.css';

/* Local Pages */
@import './downloads/style.css';

/* Print Styles */
@import './print.css';

/*
 * About this selector:
 * `.g-subnav ~ *` finds all elements after the navigation.
 * `:target` finds the active permalink on the page.
 *
 * About this style:
 * `scroll-margin-top` adjusts the vertical scroll of a permalink.
 * `64px` adjusts the scroll to account for the navigation.
 * `0.5em` further adjusts the scroll to give the permalink breathing room.
 *
 * See: https://developer.mozilla.org/en-US/docs/Web/CSS/:target
 * See: https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-margin-top
 */
.g-subnav ~ * :target {
  scroll-margin-top: calc(64px + 0.5em);
}

/* Custom web font, deprecated */
@font-face {
  font-family: 'klavika-web';
  src: url('/fonts/klavika/medium.woff2') format('woff2'),
    url('/fonts/klavika/medium.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/*
 * TODO, eventually remove:
 * Temporary Waypoint Branding
 */
:root {
  --waypoint: #14c6cb;
}
.g-docs-sidenav {
  --highlight-color: var(--waypoint);
}

.g-subnav {
  & a.variant-primary {
    border-color: var(--waypoint);
    background-color: var(--waypoint);
  }
  & .g-subnav-inner {
    & .style-menu-item {
      & .text::after {
        background: var(--waypoint);
      }
    }
  }
}

.g-content {
  --highlight-color: var(--waypoint);
}

.g-vertical-text-block-list {
  & .list {
    & .body-text {
      & a {
        color: var(--waypoint) !important;
      }
    }
  }
}
