{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

<CopyableCode @ref="context-create">
  <pre tabindex="0"><code id="context-create">waypoint context create \
    -server-addr={{this.hostname}} \
    -server-auth-token=<span data-test-token>{{this.token}}</span> \
    -server-require-auth=true \
    -set-default {{this.contextName}}</code></pre>
</CopyableCode>