<p>Install <code>yum-config-manager</code> to manage your repositories.</p>

<pre><code class="cmd">sudo yum install -y yum-utils</code></pre>

<p>Use <code>yum-config-manager</code> to add the official HashiCorp Linux repository.</p>

<pre><code class="cmd">sudo yum-config-manager --add-repo https://rpm.releases.hashicorp.com/AmazonLinux/hashicorp.repo</code></pre>

<p>Install.</p>

<pre><code class="cmd">sudo yum -y install waypoint</code></pre>