{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

<p>Install <code>yum-config-manager</code> to manage your repositories.</p>

<CopyableCode @ref="cent-yum-install-utils">
  <pre><code id="cent-yum-install-utils">sudo yum install -y yum-utils</code></pre>
</CopyableCode>

<p>Use <code>yum-config-manager</code> to add the official HashiCorp Linux repository.</p>

<CopyableCode @ref="cent-yum-config">
  <pre><code id="cent-yum-config">sudo yum-config-manager --add-repo https://rpm.releases.hashicorp.com/RHEL/hashicorp.repo</code></pre>
</CopyableCode>

<p>Install.</p>

<CopyableCode @ref="cent-yum-install">
  <pre><code id="cent-yum-install">sudo yum -y install waypoint</code></pre>
</CopyableCode>