{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

<p>Add the HashiCorp <a href="https://apt.releases.hashicorp.com/gpg">GPG key</a>.</p>

<CopyableCode @ref="ubuntu-curl">
  <pre><code id="ubuntu-curl">curl -fsSL https://apt.releases.hashicorp.com/gpg | sudo apt-key add -</code></pre>
</CopyableCode>

<p>Add the official HashiCorp Linux repository.</p>

<CopyableCode @ref="ubuntu-apt-add-repository">
  <pre tabindex="0"><code id="ubuntu-apt-add-repository">sudo apt-add-repository "deb [arch=amd64] https://apt.releases.hashicorp.com $(lsb_release -cs) main"</code></pre>
</CopyableCode>

<p>Update and install.</p>

<CopyableCode @ref="ubuntu-sudo-apt-get">
  <pre><code id="ubuntu-sudo-apt-get">sudo apt-get update && sudo apt-get install waypoint</code></pre>
</CopyableCode>