<p>Chocolatey is a free and open-source package management system for Windows. Install the <a href="#todo">Waypoint package</a> from the command-line.</p>

<pre><code class="cmd">choco install waypoint</code></pre>

<div class="onboarding-note">
  <p><b>NOTE:</b> Chocolatey and the Waypoint package are NOT directly maintained by HashiCorp. The latest version of Waypoint is always available by manual installation.</p>
</div>