{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

<p>
  Chocolatey is a free and open-source package management system for Windows.
</p>

<CopyableCode @ref="choco-install">
  <pre><code id="choco-install">choco install waypoint</code></pre>
</CopyableCode>

<div class="onboarding-note">
  <p>
    <b>Note:</b> Chocolatey and the Waypoint package are <strong>not</strong> directly maintained by HashiCorp. The
    latest version of Waypoint is always available by manual installation.
  </p>
</div>