<p>Chocolatey is a free and open-source package management system for Windows. Install the <ExternalLink href="https://go.hashi.co/waypoint-beta-binaries">Waypoint package</ExternalLink> from the command-line.</p>

<CopyableCode @ref="choco-install">
  <pre><code id="choco-install">choco install waypoint</code></pre>
</CopyableCode>

<div class="onboarding-note">
  <p><b>NOTE:</b> Chocolatey and the Waypoint package are NOT directly maintained by HashiCorp. The latest version of Waypoint is always available by manual installation.</p>
</div>