<p>Homebrew is a free and open-source package management system for Mac OS X. Install the official <a href="#todo">Waypoint formula</a> from the terminal.</p>

<pre><code class="cmd">brew install hashicorp/tap/waypoint</code></pre>

<div class="onboaridng-note">
  <p><b>NOTE:</b> This installs a signed binary and is automatically updated with every new official release.</p>
</div>

<p>To update to the latest, run</p>

<pre><code class="cmd">brew upgrade hashicorp/tap/waypoint</code></pre>