{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

<p>
  Homebrew is a free and open-source package management system for Mac OS X. Install the official
  Waypoint formula from the terminal.
</p>

<CopyableCode @ref="brew-install">
  <pre><code id="brew-install">brew install hashicorp/tap/waypoint</code></pre>
</CopyableCode>

<div class="onboarding-note">
  <p><b>NOTE:</b> This installs a signed binary and is automatically updated with every new official release.</p>
</div>

<p>To update to the latest, run</p>

<CopyableCode @ref="brew-upgrade">
  <pre><code id="brew-upgrade">brew upgrade hashicorp/tap/waypoint</code></pre>
</CopyableCode>