{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

<p>HashiCorp officially maintains and signs packages for the following Linux distributions.</p>

<Pds::TabNav>
  <LinkTo @route="onboarding.install.linux.ubuntu">Ubuntu/Debian</LinkTo>
  <LinkTo @route="onboarding.install.linux.centos">CentOS/RHEL</LinkTo>
  <LinkTo @route="onboarding.install.linux.fedora">Fedora</LinkTo>
  <LinkTo @route="onboarding.install.linux.amazon">Amazon Linux</LinkTo>
</Pds::TabNav>

{{outlet}}