{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

<p>
  To install Waypoint manually, find the
  <ExternalLink href="https://releases.hashicorp.com/waypoint/">appropriate package </ExternalLink>
  for your system and download it. Waypoint is packaged as a zip archive. After downloading Waypoint,
  unzip the downloaded archive. It is recommended that you move Waypoint to a directory in your <code>PATH</code>
  to allow you to execute it from any directory.
</p>

<p>For example:</p>
<p>
  <code class="output">$ mv ~/Downloads/waypoint /usr/local/bin/</code>
</p>