.root {
  background-color: var(--gray-7);
  padding: 42px 0;
  margin: 42px 0;
  color: var(--gray-2);

  & p {
    color: var(--gray-2);
  }

  & a {
    color: var(--gray-2);
  }

  & :global(.g-container) {
    max-width: 825px;
  }

  & h2 {
    text-align: center;
    color: var(--black);
    margin-bottom: 54px;

    @media (--medium-up) {
      margin-bottom: 64px;
    }
  }
}

.heading {
  margin: 24px 0;
  font-weight: bold;
  color: var(--black);

  @media (--medium-up) {
    text-align: right;
    margin: 0;
  }
}

.changelog {
  display: block;
  margin: 24px 0 0;
  color: var(--black);

  @media (--medium-up) {
    display: inline-block;
    margin: 0 0 0 24px;
  }
}

.grid {
  margin: 48px auto;

  @media (--medium-up) {
    display: grid;
    grid-column-gap: 32px;
    grid-row-gap: 48px;
    grid-template-columns: auto 1fr;
  }
}

.latestDownloads {
  composes: heading;
  margin-top: 40px;

  @media (--medium-up) {
    margin-top: 0;
  }
}

.downloads {
  display: grid;
  width: 100%;
  grid-template-columns: auto 1fr;
  margin: 17px 0 40px;
  grid-column-gap: 28px;
  grid-row-gap: 16px;

  & a {
    margin: 0 6px;
  }

  & .os {
    font-weight: bold;
    color: var(--black);
  }

  @media (--medium-up) {
    margin: 20px 0 64px;
  }
}

.releases {
  align-self: center;
  composes: heading;
}

.links > div:not(:first-child) {
  margin: 15px 0;
}
