.app-item {
  // individual list item in expanded builds/deployments/releases section
  color: rgb(var(--text-muted));
  margin-right: scale.$sm-2;
  width: 100%;
  border-radius: 5px;

  hr {
    border: 0;
    width: 100%;
    margin: 0;
    border-top: 1px solid rgb(var(--border));
  }

  a:not(.button) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-grow: 1;
    color: inherit;
    text-decoration: none;
    width: 100%;
    min-height: 73px;
    padding: scale.$sm-1 scale.$sm-2;
    border-radius: 5px;

    &:hover code {
      color: rgb(var(--link));
    }
  }

  code {
    font-size: 1rem;
  }

  &.app-item--destroyed code {
    color: rgb(var(--text-muted));
  }

  .badge--version {
    margin-right: scale.$sm-2;
  }

  .badge--destroyed {
    margin-left: auto;

    @media (prefers-color-scheme: light) {
      background: color.$ui-cool-gray-200;
      color: color.$ui-cool-gray-800;
    }
  }

  .button {
    max-width: 100%;
    margin-left: scale.$base;

    span {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .replacement-info {
    @include Typography.Interface(S);
    b {
      text-transform: inherit;
    }
  }

  .timestamp__label {
    @include Typography.Interface(S);
  }

  &--previous {
    background: rgb(var(--panel));
  }

  .operation-status-indicator {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

    span {
      width: 100%;
    }
  }
}

.destroyed-deployments-filter {
  // explanatory text + button at the bottom of the expanded list of deployments
  display: block;
  float: right;
  text-align: right;
  margin-bottom: scale.$sm-1;
  button {
    font-size: 0.75rem;
  }
}
