.card {
  // all instances of cards (including the list of projects/apps)
  padding: scale.$sm--1 scale.$base;
  margin-bottom: scale.$lg-2;
  box-shadow: $shadow;
  border-radius: 2px;
  background: rgba(var(--card), 0.75);

  &.empty-state {
    border: none;
    padding: scale.$base;

    p {
      display: flex;
      flex-direction: column;
      align-items: center;

      &:only-child {
        color: rgb(var(--text-subtle));
        @include Typography.Interface(S);
      }

      .icon {
        margin-bottom: scale.$sm-2;
      }
    }
  }

  &-header {
    display: flex;
    align-items: center;
    padding-bottom: scale.$sm--2;

    h4 {
      display: flex;
      align-items: center;
      overflow: hidden;

      span {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      .icon {
        width: scale.$lg-1;
        height: scale.$lg-1;
        margin-right: scale.$sm-3;
      }
    }

    a {
      margin-left: auto;
      white-space: nowrap;
      @include Typography.Interface(S);
    }
  }

  h2,
  h4 {
    margin: 0;
  }

  h4 {
    color: rgb(var(--text-muted));
  }

  a {
    text-decoration: none;
  }

  .grid {
    margin-top: scale.$base;
    margin-bottom: -(scale.$sm-2);
    border-top: 1px solid rgb(var(--border));

    > div {
      flex: 1 1 0;
      padding: scale.$sm-2 scale.$base;
      border-right: 1px solid rgb(var(--border));

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        border: none;
        padding-right: 0;
      }
    }
  }

  // BEGIN: Temporary overrides for HDS hack to illustrate look & feel
  .hds-linkto-parent {
    display: flex;
    justify-content: center;
  }

  .hds-link-standalone {
    align-items: center;
    background-color: transparent; // needs to exist for a11y
    // border: $hds-link-standalone-border-width solid transparent; // needs to exist AND be transparent for a11y
    display: flex; // Amynote: A global display: block is causing issues
    font-family: var(--token-typography-font-stack-text);
    justify-content: center;
    // notice: the text decoration is applied directly to the "text" container because of a bug in Safari (see https://github.com/hashicorp/design-system-components/issues/159)
    text-decoration-color: transparent;
    width: fit-content;
  }
  
  .hds-link-standalone__text {
    flex: 1 0 0;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: text-decoration-color 0.25s ease-in;
  
    .hds-link-standalone__icon + & {
      margin-left: 0.375rem;
    }
  
    & +.hds-link-standalone__icon {
      margin-left: 0.375rem;
      height: 1rem;
      width: 1rem;
    }
  }
  // END: Temporary overrides for HDS hack to illustrate look & feel

  .auth-a11y {
    a {
      color: white;
      font-weight: bold;
    }
  }
}

.row {
  // content within a card (list of projects/apps)
  display: flex;
  align-items: center;

  .icon-tile {
    margin-right: scale.$base;
  }

  .meta small {
    color: rgb(var(--text-muted));
    @include Typography.Interface(M);
  }
}

.card-header {
  font-size: scale.$sm-1;
}
