.operation-status-indicator {
  margin-top: 1px;
  display: flex;
  align-items: center;

  > span {
    margin-right: scale.$sm-4;
  }

  b {
    text-transform: capitalize;
  }

  svg {
    margin-right: scale.$sm-3;
  }

  .icon-text-group {
    display: inline-flex;
    align-items: center;
    line-height: 100%;
    @include Typography.Interface(M);
    font-weight: inherit;

    span {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .timestamp {
    display: inline-flex;
    align-items: center;
    line-height: 100%;
    color: rgb(var(--text-muted));
    cursor: default;
    font-size: inherit;
    font-weight: inherit;

    &--error {
      color: rgb(var(--error-text));
    }

    &--match-typography {
      font-size: inherit;
      font-weight: inherit;
    }
  }

  span:nth-last-of-type(1) {
    width: fit-content;
  }
}
