.operation-status-indicator {

  > span {
    margin-right: scale.$sm-4;
  }

  b {
    text-transform: capitalize;
  }

  svg {
    margin-right: scale.$sm-3;
  }

  .pds-icon {
    font-size: 16px;
  }

  .icon-text-group {
    display: inline-flex;
    align-items: center;
    line-height: initial;
    @include Typography.Interface(M);

    span {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .timestamp {
    display: inline-flex;
    align-items: center;
    color: rgb(var(--text-muted));
    cursor: default;

    &--error {
      color: rgb(var(--error-text));
    }

    &--match-typography {
      font-size: inherit;
      font-weight: inherit;
    }
  }

  span:nth-last-of-type(1) {
    width: fit-content;
  }
}
