.section {
  position: relative;

  margin-bottom: scale.$base;

  &__header {
    position: relative;

    border-bottom: 1px solid rgb(var(--border));
    margin-bottom: scale.$sm--1;
  }

  &__heading {
    display: flex;
    align-items: center;
    padding: 10px 0px;
    margin: 0;

    font-size: 16px;
    font-weight: 600;
    line-height: 1;

    .pds-icon {
      margin-left: -4px;
      margin-right: 4px;

      color: rgb(var(--text-muted));

      font-size: 20px;
    }
  }

  &__toggle {
    @extend .focus-ring;
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
    margin: 0;

    background: transparent;
    &:active {
      background: rgba(var(--background), 0.5);
    }

    appearance: none;
    cursor: pointer;
  }
}
