.spinner {
  position: relative;

  top: 1px;

  svg {
    fill: none !important;
  }
  svg,
  g {
    stroke: rgb(var(--spinner-stroke));
  }
  &[data-size='inherit'] {
    font-size: inherit;
  }
  &[data-size='16'] {
    font-size: 16px;
  }
  &[data-size='20'] {
    font-size: 20px;
  }
  &[data-size='24'] {
    font-size: 24px;
  }
}
