.indicatedStepsList {
  display: flex;

  & .indicatorWrapper {
    margin-right: 115px;

    & > ul {
      position: sticky;
      top: 200px;
      padding-bottom: 292px;
    }
  }

  & .terminalWrapper {
    & .testingTerminal {
      box-shadow: rgb(0 0 0 / 0.35) 7px 10px 25px;
      position: sticky;
      top: 140px;
      margin-left: 150px;
      margin-top: -800px;
    }
  }
}
