/* ======================================== *\
 * Component:Drawer
\* ======================================== */
@forward "config";
@use "config" as *;

.pdsDrawer {
  background-color: $background-color;
  height: 100vh;
  left: 100%; // align drawer:left with viewport:right
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: $width;
  transition: // CLOSED
    transform
    $duration
    $timing-function;

  &[aria-expanded="true"] {
    // align drawer:right with viewport:right
    transform: translateX(-100%);
    transition: // OPEN
      transform
      $duration
      $timing-function;
  }
}
