.step {
  max-width: 344px;
  @media (max-width: 850px) {
    max-width: unset;
  }

  & h4 {
    margin-bottom: 12px;
    margin-top: 0;
  }

  & .description {
    & > p {
      font-size: 17px;
      line-height: 28px;
      letter-spacing: 0.0125em;
      color: var(--gray-2);
    }
  }

  & > img {
    margin-top: 16px;
  }
}
