.root {
  min-height: 650px;
  width: 100%;
  padding: 150px 0;
  background-repeat: no-repeat;
  background-color: var(--gray-7);
  background-image: url(/img/hero-pattern.svg);
  background-size: contain;

  @media (max-width: 758px) {
    padding: 64px 0;
  }

  & .eyebrow {
    font-family: var(--font-body);
    text-align: center;
    display: block;
    font-weight: var(--font-weight-bold);
    font-size: 1.1rem;

    & .red {
      color: #ba2226;
    }
  }

  @media (max-width: 758px) {
    background-image: url(/img/mobile-hero-pattern.svg);
  }

  & h1 {
    text-align: center;
    white-space: pre-wrap;
  }

  & p {
    margin: 0 auto 0 auto;
    text-align: center;
    max-width: 40em;
  }

  & :global(.g-grid-container) {
    max-width: 700px;
  }

  & .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(32px - 8px);
    margin-bottom: -8px;

    & a {
      margin: 8px;

      &:global(.variant-primary) {
        border-color: var(--blue);
        background-color: var(--blue);
      }
    }
  }
}
