/* --- Config:Sidebar --- */
@use "../../tokens/color";

:root {
  --sidebar-background-color: #{color.$ui-gray-900};
  --sidebar-color: #{color.$white};
}

$background-color: var(--sidebar-background-color);
$color: var(--sidebar-color);
$width: 18.75rem; // 300px;
