{{#if @canLogout}}
  <button class="auth-link" type="button" {{on "click" this.logout}}>
    <Pds::Icon @type="logout" class="nav-icon" />
    Logout
  </button>
{{else}}
  <LinkTo class="auth-link" @route="auth">
    <Pds::Icon @type="lock-open" class="nav-icon" />
    Authenticate
  </LinkTo>
{{/if}}
