{{#if @canLogout}}
  <button class="auth-link" type="button" {{on "click" this.logout}}>
    <FlightIcon @name="sign-out" class="nav-icon" />
    Logout
  </button>
{{else}}
  <LinkTo class="auth-link" @route="auth">
    <FlightIcon @name="unlock" class="nav-icon" />
    Authenticate
  </LinkTo>
{{/if}}
