{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

{{#if @canLogout}}
  <button data-test-logout-button class="auth-link" type="button" {{on "click" this.logout}}>
    <FlightIcon @name="sign-out" class="nav-icon" />
    Logout
  </button>
{{else}}
  <LinkTo class="auth-link" @route="auth">
    <FlightIcon @name="unlock" class="nav-icon" />
    Authenticate
  </LinkTo>
{{/if}}
