.waypointDiagram {
  & .codeToDeployment {
    width: 100%;
    margin-bottom: 32px;
    @media (max-width: 900px) {
      display: none;
    }
  }

  & .details {
    & .detailItem {
      display: inline-block;
      @media (max-width: 900px) {
        display: flex;
        align-items: flex-start;
        margin-top: 60px;
      }

      & .icon {
        display: none;
        margin-right: 24px;
        @media (max-width: 900px) {
          display: block;
        }
      }

      & h4 {
        margin-top: 0;
      }

      @media (min-width: 900px) {
        & .logoList {
          max-width: 400px;
        }

        /* Float this one right w/ RTL behaviors */
        &:last-of-type {
          float: right;
          text-align: right;
          & ul {
            flex-direction: row-reverse;
          }
        }
      }
    }
  }
}
