<header id="header">
  <LinkTo @route="application" class="brand">
    {{inline-svg "brand" class="logo"}}
    <span class="pds--visuallyHidden">{{t "product.name"}}</span>
  </LinkTo>
  <nav>
    <ExternalLink href="https://waypointproject.io/docs">
      {{inline-svg "docs" class="nav-icon"}}
      Documentation
    </ExternalLink>
    {{#if canLogout}}
    <Actions::Invite />
    {{/if}}
    <hr />
    <Logout @canLogout={{canLogout}} />
  </nav>
</header>