<header id="header">
  <LinkTo @route="application" class="brand">
    {{inline-svg "waypoint-logo" class="logo"}}
    <span class="pds--visuallyHidden">{{t "product.name"}}</span>
  </LinkTo>
  <nav>
    <ExternalLink href="https://waypoint.vercel.app/docs">
      {{inline-svg "docs" class="nav-icon"}}
      Documentation
    </ExternalLink>
    {{#if canLogout}}
      <Actions::Invite />
    {{/if}}
    <hr />
    <Logout @canLogout={{canLogout}} />
  </nav>
</header>