{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

<header id="header">
  {{yield}}
  <LinkTo @route="application" class="brand">
    <FlightIcon @name="waypoint-color" @size="24"/>
    <span class="pds--visuallyHidden">{{t "product.name"}}</span>
  </LinkTo>
  <nav>
    <ExternalLink href="https://waypointproject.io/docs">
      <FlightIcon @name="docs-link" class="nav-icon" />
      Documentation
    </ExternalLink>
    {{#if this.canLogout}}
      <hr />
      <Actions::Context />
      <hr />
      <Actions::Invite />
    {{/if}}
    <hr />
    <Logout @canLogout={{this.canLogout}} />
  </nav>
</header>
