<header id="header">
  <LinkTo @route="application" class="brand">
    <Pds::Icon @type="brand" class="logo" />
    <span class="pds--visuallyHidden">{{t "product.name"}}</span>
  </LinkTo>
  <nav>
    <ExternalLink href="https://waypointproject.io/docs">
      <Pds::Icon @type="docs" class="nav-icon" />
      Documentation
    </ExternalLink>
    {{#if this.canLogout}}
      <hr />
      <Actions::Context />
      <hr />
      <Actions::Invite />
    {{/if}}
    <hr />
    <Logout @canLogout={{this.canLogout}} />
  </nav>
</header>
