.root {
  position: relative;
  padding: 88px 0;
}

.featureList {
  --columns: 1;

  list-style: none;
  composes: g-grid-container from global;
  padding-bottom: 88px;
  display: grid;
  column-gap: 32px;
  grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
  row-gap: 32px;
  border-bottom: 1px solid var(--gray-6);

  @media (--medium-up) {
    --columns: 2;
  }

  @media (--large) {
    --columns: 4;
  }
}

.feature {
  text-align: center;
}

.featureMedia {
  display: grid;
  place-items: center;
  width: 100%;
  height: 44px;
}

.featureText {
  color: var(--gray-3);
}
