<hr>

<h3>{{@model.application}}</h3>

<p>Application metadata and other information</p>

<ul>
    <li>
        <LinkTo @route="workspace.projects.project.app.builds" @models={{array @model.project @model.application }}>
            Builds
        </LinkTo>
    </li>
</ul>

{{outlet}}