{{#each @model as |app|}}
  <Card>
    <LinkTo @route="workspace.projects.project.app" @model={{app.name}}>
      <div class="row">
        {{inline-svg "git-repository" class="icon"}}
        <h3>{{app.name}}</h3>
      </div>
    </LinkTo>
  </Card>
{{/each}}

{{outlet}}
