{{#each @model as |app|}}
  <Card>
    <LinkTo @route="workspace.projects.project.app" @model={{app.name}}>
      <div class="row">
        <IconTile @icon="git-repository" @isSmall={{true}} />
        <div class="meta">
          <h2>{{app.name}}</h2>
          <small>Application metadata</small>
        </div>
      </div>
    </LinkTo>
    <div class="row grid">
      <div class="app-decoration">
        <small>Latest release</small>
        <AppMetaItem::LatestRelease />
      </div>
      <div class="app-decoration">
        <small>Latest deploy</small>
        <AppMetaItem::LatestDeployment />
      </div>
      <div class="app-decoration">
        <small>Latest build</small>
        <AppMetaItem::LatestBuild />
      </div>
    </div>
  </Card>
{{/each}}

{{outlet}}