<PageHeader @iconName="settings">
  <div class="title">
    <h1>Project Settings</h1>
  </div>
</PageHeader>

<Pds::TabNav>
  <LinkTo @route="workspace.projects.project.settings.repository" @model={{this.model.name}}>Git Repository</LinkTo>
  <LinkTo @route="workspace.projects.project.settings.variables" @model={{this.model.name}}>Input Variables</LinkTo>
</Pds::TabNav>

{{outlet}}
