{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

<PageHeader @iconName="settings">
  <div class="title">
    <h1>Project Settings</h1>
  </div>
</PageHeader>

<Pds::TabNav>
  <LinkTo role="tab" @route="workspace.projects.project.settings.repository" @model={{this.model.name}}>Git Repository</LinkTo>
  <LinkTo role="tab" @route="workspace.projects.project.settings.input-variables" @model={{this.model.name}}>Input Variables</LinkTo>
  <LinkTo role="tab" @route="workspace.projects.project.settings.config-variables" @model={{this.model.name}}>Config Variables</LinkTo>
</Pds::TabNav>

{{outlet}}
