{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

<div class="onboarding-header">
  <IconTile @icon="zap" />
  <div class="onboarding-header-content">
    <h1>Connect to your Waypoint instance</h1>
    <p>Now you can connect to the existing Waypoint instance.</p>
  </div>
</div>

<div class="onboarding-step">
  <p>Run the following in the CLI to connect to the server.</p>
  <ContextCreate></ContextCreate>
</div>

<hr />

<div class="onboarding-footer">
  <LinkTo @route="onboarding.start" data-test-next-step class="button button--secondary">Continue to Next Step
  </LinkTo>
</div>