<div class="onboarding-header">
  <IconTile @icon="bolt" />
  <div class="onboarding-header-content">
    <h1>Connect to your Waypoint instance</h1>
    <p>Now that Waypoint CLI is installed locally, you can connect to the existing Waypoint server instance.</p>
  </div>
</div>

<hr />

<div class="onboarding-step">
  <p>Run the following in the CLI:</p>
  <code class="cmd">waypoint context create -server-addr=waypoint.io:9701 -server-auth-token=abc123</code>
</div>

<hr />

<div class="onboarding-footer">
  <LinkTo @route="onboarding.start" class="button button--secondary">Continue to Next Step</LinkTo>
</div>