<div class="onboarding-header">
  <IconTile @icon="download" />
  <div class="onboarding-header-content">
    <h1>Install the Waypoint CLI</h1>
    <p>First, you'll need to install the Waypoint CLI.</p>
  </div>
</div>

<hr />

<div class="onboarding-step">
  <p>Waypoint uses both a client and a server to build, deploy, and release applications. Anyone using Waypoint to
    deploy from their workstation will need to install Waypoint locally.</p>

  <h2>Download the binary</h2>

  <p>To install Waypoint, find the appropriate package for your system and download the zip archive.</p>

  <p>
    <ExternalLink href="https://go.hashi.co/waypoint-beta-binaries" class="button button--primary">
      {{inline-svg "download" class="icon"}}
      <span>Download</span>
    </ExternalLink>
  </p>

  <p>After downloading Waypoint, unzip the downloaded archive. Waypoint runs as a single binary named
    <code>waypoint</code>. It is recommended that you move it to a directory in your <code>PATH</code>
    to allow you to execute it from any directory.
  </p>

  <p>For example:</p>
  <p>
    <code class="output">$ mv ~/Downloads/waypoint /usr/local/bin/</code>
  </p>
  <p><strong>Note:</strong> Due to the Waypoint beta currently being private, Homebrew, Linux packages, and Chocolatey
    installation methods are not yet available.
  </p>
</div>

<hr />

<div class="onboarding-footer">
  <LinkTo @route="onboarding.connect" class="button button--secondary">Continue to Next Step</LinkTo>
</div>