{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

<div class="onboarding-header">
  <IconTile @icon="check-circle-fill" />
  <div class="onboarding-header-content">
    <h1>Start using Waypoint</h1>
    <p>You're now ready to start using Waypoint via the CLI.</p>
  </div>
</div>

<div class="onboarding-step">
  <p>Try listing builds with the following command:</p>

  <CopyableCode @ref="list-builds">
    <pre><code id="list-builds">waypoint artifact list-builds</code></pre>
  </CopyableCode>

  <p>If you have any builds you should see them return like this:</p>

  <pre><code class="output">    |             ID             | WORKSPACE | BUILDER |   STARTED   |  COMPLETED
----+----------------------------+-----------+---------+-------------+--------------
  ✔ | 01EHVGYB671EPR4CJRAXVTYBS7 | default   | pack    | 9 hours ago | 9 hours ago</code></pre>
</div>

<hr />

<div class="onboarding-footer">
  <LinkTo data-test-next-step class="button button--primary" @route="workspaces">Finish Setup</LinkTo>
</div>