<div class="onboarding-header">
  <IconTile @icon="check-circle-fill" />
  <div class="onboarding-header-content">
    <h1>Start using Waypoint</h1>
    <p>You're now ready to start using Waypoint and interact with applications via the CLI.</p>
  </div>
</div>

<hr />

<div class="onboarding-step">
  <p>Try listing builds with the following command:</p>
  <pre><code class="cmd">waypoint artifact list-builds</code></pre>
  <p>If you have any builds you should see them return like this:</p>
  <pre><code class="output">    |             ID             | WORKSPACE | BUILDER |   STARTED   |  COMPLETED
----+----------------------------+-----------+---------+-------------+--------------
  ✔ | 01EHVGYB671EPR4CJRAXVTYBS7 | default   | pack    | 9 hours ago | 9 hours ago</code></pre>
</div>

<hr />

<div class="onboarding-footer">
  <a href="/projects" class="button button--primary">Finish Setup</a>
</div>