{{#each @model.authMethodsList as |authMethod|}}
  <Pds::Button
  @variant="primary"
  disabled={{this.initializeOIDCFlow.isRunning}}
  {{on "click" (perform this.initializeOIDCFlow authMethod)}}>
    {{#if this.initializeOIDCFlow.isRunning}}
      <Spinner @size="16"/>
    {{/if}}
    {{authMethod.displayName}}
  </Pds::Button>
{{/each}}
<hr>
<p>
  Can't log in? Use Token authentication instead:
  <LinkTo @route="auth.token">
    {{t 'auth.button'}}
  </LinkTo>
</p>

