.authIndicator {
  position: fixed;
  bottom: 0;
  width: 100vw;
  z-index: 3;
  padding: 1rem;
  text-align: center;
  background: var(--black);
  color: var(--white);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  @media (--medium-up) {
    justify-content: flex-end;
  }
}
.loadingIconSpin {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  -webkit-animation: spin 0.5s linear infinite;
  -moz-animation: spin 0.5s linear infinite;
  animation: spin 0.5s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.loggedInText {
  margin: 0 1rem;
}
