.app-meta-item {
  display: flex;
  align-items: center;
  width: 100%;

  &.app-meta-item--latest {

    .badge--version {
      color: color.$blue-500;
      background: color.$blue-050;
    }
  }

  .app-meta-item-info {
    margin-right: auto;

    a {
      color: inherit;

      &:hover code {
        color: color.$blue-500;
      }
    }

    p {
      display: inline-flex;
      align-items: center;
    }

    code {
      font-size: 0.9rem;
    }

    .badge {
      margin-left: scale.$sm-2;
    }

    .badge--version {
      margin-left: 0;
      margin-right: scale.$sm-2;
    }

    small {
      display: flex;
      align-items: center;
      padding-top: scale.$sm-3;

      .icon {
        width: scale.$lg-1;
        height: scale.$lg-1;
        margin-right: scale.$sm-3;
      }
    }
  }

  ul.app-meta-item-info {
    margin-right: 0;
    width: 100%;

    li {
      display: flex;
      align-items: center;
      margin-bottom: scale.$sm-2;
      min-height: scale.$lg-2;

      &:last-child {
        margin-bottom: 0;
      }

      > a {
        display: flex;
        flex-grow: 1;
        align-items: center;
      }

      p {
        margin-right: auto;
      }

      code {
        font-size: 0.9rem;
      }

      small {
        color: color.$ui-cool-gray-600;
        font-size: 0.8rem;
        padding: 0;
      }

      .badge--version {
        font-size: 0.75rem;
        line-height: 1.1rem;
        padding: scale.$sm-4 scale.$sm-2;
      }

      .button {
        flex-grow: 0;
        margin-left: scale.$sm-2;
      }
    }
  }

  .button {
    margin-left: scale.$base;
  }
}
