.app-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;

  a:not(.button) {
    display: flex;
    flex-direction: column;
    color: inherit;
    text-decoration: none;
    margin-right: scale.$base;

    &:hover code {
      color: rgb(var(--link));
    }
  }

  p {
    display: inline-flex;
    align-items: center;
  }

  code {
    font-size: 1rem;
  }

  &.app-item--destroyed code{
    color: rgb(var(--text-muted));
  }

  .badge--version {
    margin-right: scale.$sm-2;
  }

  .badge--destroyed {
    margin-left: scale.$sm-2;
  }

  small {
    display: flex;
    align-items: center;
    padding-top: scale.$sm-3;
    color: rgb(var(--text-muted));

    b {
      text-transform: capitalize;
    }

    .icon {
      width: scale.$lg-1;
      height: scale.$lg-1;
      margin-right: scale.$sm-3;
    }
  }

  .button {
    max-width: 100%;

    span {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
