ul.breadcrumbs {
  display: flex;
  height: scale.$lg-4;

  li {
    display: flex;
    align-items: flex-start;
    @include Typography.Interface(M);

    a {
      color: inherit;
      text-decoration: none;
      display: inline-flex;
      align-items: center;

      &:hover {
        color: color.$blue-500;
      }
    }

    svg {
      width: 16px;
      height: 16px;
      margin-right: scale.$sm-3;
    }

    &::after {
      content: '/';
      color: color.$ui-cool-gray-500;
      margin-left: scale.$sm-2;
      margin-right: scale.$sm-2;
    }

    &:last-child::after {
      display: none;
    }
  }
}
