
@use 'pds/tokens/color';
@use 'pds/tokens/scale';

:root {
  --footer-text: #{dehex(color.$ui-cool-gray-500)};
}


#footer {
  color: rgb(var(--footer-text));
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 100vw;
  max-width: 1600px;
  padding: scale.$lg-3 scale.$lg-4 scale.$lg-5;
  .icon {
      fill: rgb(var(--footer-text));
  }
}
