@use 'pds/tokens/color';
@use 'pds/tokens/scale';

#header {
  position: sticky;
  top: 0;
  color: color.$white;
  background: color.$black;
  display: flex;
  padding: scale.$base scale.$lg-4;

  nav {
    display: flex;
    margin-left: auto;

    a {
      margin-left: scale.$lg-2;
      text-decoration: none;
    }
  }

  a {
    color: inherit;
  }

  .brand {
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
  }

  .soon {
    opacity: 0.4;
    pointer-events: none;
  }
}
