@use 'pds/tokens/color';
@use 'pds/tokens/scale';

:root {
  --tile: #{dehex(color.$black)};
  --tile-icon: #{dehex($brand-color)};
}

@media (prefers-color-scheme: dark) {
  :root {
    --tile: #{dehex($brand-color)};
    --tile-icon: #{dehex(color.$black)};
  }
}

.icon-tile {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: scale.$lg-8;
  height: scale.$lg-8;
  color: rgb(var(--tile-icon));
  background: rgb(var(--tile));
  border-radius: 2px;

  &--small {
    width: scale.$lg-6;
    height: scale.$lg-6;
  }

  &--large {
    width: scale.$lg-12;
    height: scale.$lg-12;

    .icon {
      width: scale.$lg-8;
      height: scale.$lg-8;
    }
  }
}
