@use 'pds/tokens/color';
@use 'pds/tokens/scale';
@use 'pds/tokens/typography' as Typography;

$box-shadow: 0 0 0 1px rgba(color.$ui-cool-gray-600, 0.2), 0 2px 1px 1px rgba(color.$ui-cool-gray-600, 0.1);
$button-box-shadow: 0 3px 2px rgba(color.$ui-cool-gray-600, 0.2);
$elevated-box-shadow: 0 0 0 1px rgba(color.$ui-cool-gray-600, 0.1),
  0 6px 8px 4px rgba(color.$ui-cool-gray-600, 0.1), 0 3px 2px rgba(color.$ui-cool-gray-600, 0.2);
$inset-box-shadow: inset 0 0 0 1px rgba(color.$ui-cool-gray-600, 0.2),
  inset 0 2px 1px 1px rgba(color.$ui-cool-gray-600, 0.1);
$glowing-box-shadow: inset 0 0 0 1px rgba(color.$blue-500, 0.8),
  inset 0 2px 1px 1px rgba(color.$ui-cool-gray-600, 0.1), 0 0 0 3px rgba(color.$blue-500, 0.2);

@import './_app-card';
@import './_app-item';
@import './_badge';
@import './_breadcrumbs';
@import './_button';
@import './_code';
@import './_flash';
@import './_input';
@import './_icon-tile';
@import './_login';
@import './_onboarding';

#page {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100vw;
  max-width: 1600px;
  margin: 0 auto;
  padding: scale.$lg-3 scale.$lg-4 scale.$lg-5;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 1200px;
    height: 600px;
    background: linear-gradient(to right, color.$white, rgba(color.$white, 0)),
      linear-gradient(to left, color.$white, rgba(color.$white, 0)),
      linear-gradient(to top, color.$white, color.$white, rgba(color.$white, 0)), url(/images/topography.svg);
    opacity: 0.2;
    z-index: -2;
  }

  h1,
  h2,
  h3 {
    margin: 0 0 scale.$lg-2;
  }

  h1 {
    @include Typography.Heading(1);
  }

  h2 {
    @include Typography.Heading(2);
  }

  h3 {
    @include Typography.Heading(3);
  }

  h4 {
    @include Typography.Heading(4);
  }

  aside {
    padding-top: scale.$lg-6;
  }

  header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: scale.$base;

    .icon-tile {
      margin-right: scale.$base;
    }

    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-shrink: 0;
      padding: scale.$sm-2 scale.$sm-2 scale.$sm-2 0;
      margin-right: auto;
      min-height: 76px;

      &.projects-title {
        margin-top: scale.$lg-4;
      }

      h1,
      h2 {
        margin: 0;
        padding-bottom: scale.$sm-3;

        code {
          font-size: 1em;
          font-weight: 600;
          margin: scale.$sm-2 0 scale.$sm-4;
          display: inline-flex;
        }

        .badge {
          font-size: 1rem;
          position: relative;
          top: -2px;
          margin-right: scale.$sm-4;
        }
      }

      small {
        display: flex;
        align-items: center;
        color: color.$ui-cool-gray-600;
        @include Typography.Interface(M);
        padding-bottom: scale.$sm-3;

        .icon {
          width: 16px;
          height: 16px;
          margin-right: scale.$sm-3;
        }
      }
    }

    .actions {
      position: relative;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin: scale.$sm-4 0;

      .button {
        margin: scale.$sm-3 0;

        & + .button {
          margin-left: scale.$base;
        }
      }

      .first-run-hint {

        p {
          @include Typography.Interface(S);
          color: color.$ui-cool-gray-500;
          display: inline-block;
          margin-right: scale.$sm-2;
        }

        .copyable-code {
          margin: scale.$sm-2 0;

          code {
            display: inline-flex;
            font-size: 11px;
            flex-shrink: 0;
          }
        }
      }
    }
  }

  nav {
    padding-top: scale.$sm-2;
    margin-bottom: scale.$lg-4;

    ul {
      display: flex;
      box-shadow: inset 0 -1px 0 color.$ui-cool-gray-200;

      li {
        display: flex;
        margin-right: scale.$lg-1;
        align-items: stretch;
      }

      a {
        color: color.$ui-cool-gray-600;
        text-decoration: none;
        display: flex;
        align-items: center;
        padding: scale.$sm-2 scale.$sm-2 scale.$base;

        &:hover {
          color: color.$ui-cool-gray-800;
          box-shadow: inset 0 -3px 0 color.$ui-cool-gray-300;
        }

        &.active {
          color: color.$blue-500;
          box-shadow: inset 0 -3px 0 color.$blue-500;
        }
      }

      .icon {
        width: scale.$base;
        height: scale.$base;
        margin-right: scale.$sm-3;
      }

      @media only screen and (max-width: 600px) {
        li {
          margin-right: scale.$sm-3;
          flex: 1 1 auto;

          &:last-child {
            margin-right: 0;
          }
        }

        a {
          justify-content: center;
          padding: scale.$sm-2 scale.$sm-4 scale.$base;
        }

        .icon {
          display: none;
        }
      }
    }
  }

  ul.list {

    li {
      padding-bottom: scale.$base;
      margin-bottom: scale.$base;
      border-bottom: 1px solid color.$ui-cool-gray-100;

      &:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
        border: none;
      }
    }
  }

  .cards {
    position: relative;
    margin: (-(scale.$lg-2)) (-(scale.$lg-2)) 0;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      width: scale.$lg-3;
    }

    &::before {
      left: -#{scale.$sm-2};
      background: linear-gradient(to right, #fff, #fff, rgba(#fff, 0));
    }

    &::after {
      right: -#{scale.$sm-2};
      background: linear-gradient(to left, #fff, #fff, rgba(#fff, 0));
    }

    .cards-wrap {
      display: flex;
      overflow: auto;
      padding: scale.$lg-2 scale.$lg-2 0;
      margin-bottom: scale.$sm-2;
      scrollbar-width: thin;
      scrollbar-color: color.$ui-cool-gray-300 color.$ui-cool-gray-100;

      &::-webkit-scrollbar {
        height: scale.$sm-3;
      }

      &::-webkit-scrollbar-track {
        background: color.$ui-cool-gray-100;
        border-radius: scale.$sm-3;
      }

      &::-webkit-scrollbar-thumb {
        background: color.$ui-cool-gray-300;
        border-radius: scale.$sm-3;
      }

      &::-webkit-scrollbar-button {
        width: scale.$sm-1;
      }
    }

    .cards-inner {
      display: flex;
      justify-content: space-between;
      flex-grow: 1;
      padding: scale.$lg-2 scale.$lg-2 scale.$base;
      margin: (-(scale.$lg-2)) (-(scale.$lg-2)) 0;
    }

    .card {
      flex: 1 1 33%;
      min-width: 0;
      margin-bottom: 0;
      margin-right: scale.$lg-2;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .card {
    padding: scale.$base;
    margin-bottom: scale.$lg-2;
    box-shadow: $box-shadow;
    background: color.$white;

    &.empty-state {
      border: none;
      border-radius: 0;
      padding: scale.$base;

      p {
        display: flex;
        flex-direction: column;
        align-items: center;

        &:only-child {
          @include Typography.Interface(S);
          color: color.$ui-cool-gray-500;
        }

        .icon {
          margin-bottom: scale.$sm-2;
        }
      }
    }

    &-header {
      display: flex;
      align-items: center;
      padding-bottom: scale.$sm-1;
      margin-bottom: scale.$sm-1;
      border-bottom: 1px solid color.$ui-cool-gray-100;

      h4 {
        display: flex;
        align-items: center;
        overflow: hidden;

        span {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }

        .icon {
          width: scale.$lg-1;
          height: scale.$lg-1;
          margin-right: scale.$sm-3;
        }
      }

      a {
        margin-left: auto;
        white-space: nowrap;
        @include Typography.Interface(S);
      }
    }

    h2,
    h4 {
      margin: 0;
    }

    h4 {
      color: color.$ui-cool-gray-600;
    }

    a {
      text-decoration: none;
    }

    .grid {
      margin-top: scale.$base;
      margin-bottom: -(scale.$sm-2);
      border-top: 1px solid color.$ui-cool-gray-100;

      > div {
        flex: 1 1 0;
        padding: scale.$sm-2 scale.$base;
        border-right: 1px solid color.$ui-cool-gray-100;

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          border: none;
          padding-right: 0;
        }
      }
    }
  }

  .app-decoration {
    > small {
      display: block;
      color: color.$ui-cool-gray-600;
      @include Typography.Interface(S);
      padding: scale.$sm-3 0 scale.$sm-2;
    }
  }

  .row {
    display: flex;
    align-items: center;

    .icon-tile {
      margin-right: scale.$base;
    }

    .meta small {
      color: color.$ui-cool-gray-600;
      @include Typography.Interface(M);
    }
  }

  .item-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: scale.$base 0;
    border-top: 1px solid color.$ui-cool-gray-100;
    color: color.$ui-cool-gray-600;
    @include Typography.Interface(M);

    .item {
      a {
        text-decoration: none;

        .badge {
          margin: 0 scale.$sm-4;
        }
      }

      .badge {
        font-size: 0.75rem;
        padding: scale.$sm-3 scale.$sm-2;
      }
    }
  }

  .output-pane {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background: color.$ui-cool-gray-050;
    border: 1px solid color.$ui-cool-gray-100;
    border-radius: 2px;
    min-height: 340px;

    .output {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      overflow: auto;
      padding: scale.$sm-2 scale.$sm-1;
      max-height: 340px;

      code {
        font-size: 12px;
      }
    }

    .empty-state {
      background: none;
      border: none;
    }

    .run-prompt {
      position: relative;
      display: flex;
      align-items: stretch;
      align-self: flex-end;
      width: 100%;
      padding: scale.$sm-2 scale.$sm-2;
      background: color.$white;
      border-top: 1px solid color.$ui-cool-gray-100;
      position: sticky;
      bottom: 0;
      margin-top: auto;

      input.run-prompt-input {
        padding: 0 0 scale.$sm-4 scale.$lg-3;
        margin-right: scale.$sm-2;
        line-height: 1.8;
      }

      .prompt-icon {
        position: absolute;
        left: scale.$sm-1;
        top: scale.$sm-1;
        width: 24px;
        height: 24px;
        pointer-events: none;
        color: color.$ui-cool-gray-600;
      }
    }
  }

  .empty-state {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    background: color.$ui-cool-gray-050;
    border: 1px solid color.$ui-cool-gray-100;
    border-radius: 2px;
    padding: scale.$lg-4;

    p {
      @include Typography.Interface(M);
      color: color.$ui-cool-gray-500;
      margin: scale.$sm-2;

      &:first-child {
        @include Typography.Interface(L);
        color: color.$ui-cool-gray-600;
      }

      .copyable-code {
        margin: 0 scale.$sm-4;

        code {
          font-size: 0.95em;
        }
      }

      code.inline {
        padding: scale.$sm-4 scale.$sm-3;
        background: color.$ui-cool-gray-100;
        border-radius: 2px;
      }
    }
  }

  .auth-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    height: 100%;

    .card {
      text-align: center;
      padding: scale.$lg-8;
    }

    .logo {
      color: color.$black;
      width: scale.$lg-14;
      height: scale.$lg-14;
      padding: scale.$lg-1 scale.$base scale.$base;
      background: color.$ui-cool-gray-050;
      box-shadow: 0 0 0 1px color.$ui-cool-gray-100;
      border-radius: 8px;
    }

    h1 {
      margin: scale.$lg-2 auto scale.$sm-2;

      & + p {
        @include Typography.Interface(L);
        color: color.$ui-cool-gray-600;
        margin-bottom: scale.$lg-2;
      }
    }

    hr {
      border: none;
      border-top: 1px solid color.$ui-cool-gray-200;
      margin: scale.$lg-3 0 scale.$lg-2;
    }

    small {
      color: color.$ui-cool-gray-400;
    }

    .button {
      width: 100%;
    }
  }
}

.cli-hint {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: scale.$sm-2;
  width: 410px;
  color: color.$ui-cool-gray-600;
  background: color.$white;
  box-shadow: $elevated-box-shadow;
  border-radius: 2px;
  padding: scale.$sm-1 scale.$base;
  z-index: 99;

  p {
    @include Typography.Interface(M);
    font-weight: normal;
    margin-bottom: scale.$sm-2;
  }

  a {
    text-decoration: none;
  }

  .copyable-code {
    margin-bottom: scale.$sm-3;
  }

  .input-wrap {
    display: flex;
    align-items: stretch;
    margin-bottom: scale.$sm-2;

    input {
      margin-bottom: 0;
    }

    .button {
      margin-left: scale.$sm-2;
    }
  }

  input {
    margin-bottom: scale.$sm-2;
  }

  small {
    font-size: 75%;
    color: color.$ui-cool-gray-500;
  }

  .dismiss {
    display: flex;
    border-top: 1px solid color.$ui-gray-100;
    padding-top: scale.$sm-1;
    margin-top: scale.$sm-1;

    button {
      margin-left: auto;
    }
  }

  &-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 98;
  }
}
