@use 'cloud-ui/tokens/color';
@use 'cloud-ui/tokens/scale';
@use 'cloud-ui/tokens/typography' as Typography;

$box-shadow:
  0 0 0 1px rgba(color.$ui-cool-gray-600, .2),
  0 2px 1px 1px rgba(color.$ui-cool-gray-600, .1);
$button-box-shadow:
  0 3px 2px rgba(color.$ui-cool-gray-600, .2);

@import './_badge';
@import './_button';
@import './_icon-tile';
@import './_app-meta-item';

#page {
  display: flex;
  flex-direction: column;
  padding: 0 scale.$lg-4;
  flex-grow: 1;

  aside {
    margin: 0 (-(scale.$lg-4)) scale.$lg-2;
    padding: scale.$lg-2 scale.$lg-4;
    background: color.$ui-cool-gray-050;
  }

  h1, h2, h3 {
    margin: 0 0 scale.$lg-2;
  }

  h1 {
    @include Typography.Heading(1);
  }

  h2 {
    @include Typography.Heading(2);
  }

  h3 {
    @include Typography.Heading(3);
  }

  h4 {
    @include Typography.Heading(4);
  }

  header {
    display: flex;
    align-items: center;
    margin-bottom: scale.$lg-3;

    .icon-tile {
      margin-right: scale.$base;
    }

    .title {
      display: flex;
      flex-direction: column;

      h1 {
        margin: 0;
      }

      small {
        color: color.$ui-cool-gray-600;
        @include Typography.Interface(M);
      }
    }

    .actions {
      display: flex;
      margin-left: auto;
    }
  }

  nav {
    padding-top: scale.$sm-2;
    margin-bottom: scale.$lg-4;

    ul {
      display: flex;
      box-shadow: inset 0 -1px 0 color.$ui-cool-gray-200;

      li {
        margin-right: scale.$lg-1;
      }

      a {
        color: color.$ui-cool-gray-600;
        text-decoration: none;
        display: flex;
        align-items: center;
        padding: scale.$sm-2 scale.$sm-2 scale.$base;

        &:hover {
          color: color.$ui-cool-gray-800;
          box-shadow: inset 0 -3px 0 color.$ui-cool-gray-300;
        }

        &.active {
          color: color.$blue-500;
          box-shadow: inset 0 -3px 0 color.$blue-500;
        }
      }

      .icon {
        width: scale.$base;
        height: scale.$base;
        margin-right: scale.$sm-3;
      }
    }
  }

  ul.list {

    li {
      display: flex;
      flex-direction: column;
      margin-bottom: scale.$base;
      padding-bottom: scale.$base;
      border-bottom: 1px solid color.$ui-cool-gray-200;

      &:last-child {
        border: none;
      }

      span {
        color: color.$ui-cool-gray-600;
        font-size: 0.9rem;
        padding-top: scale.$sm-3;
      }
    }
  }

  .cards {
    display: flex;

    .card {
      flex: 1 1 0;
      margin-right: scale.$lg-2;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .card {
    padding: scale.$base;
    margin-bottom: scale.$lg-2;
    box-shadow: $box-shadow;

    h2, h4 {
      margin: 0;
    }

    h4 {
      color: color.$ui-cool-gray-600;
    }

    a {
      text-decoration: none;
    }

    .grid {
      margin-top: scale.$base;
      margin-bottom: -(scale.$sm-2);
      border-top: 1px solid color.$ui-cool-gray-100;

      > div {
        flex: 1 1 0;
        padding: scale.$sm-2 scale.$base;
        border-right: 1px solid color.$ui-cool-gray-100;

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          border: none;
          padding-right: 0;
        }
      }
    }
  }

  .app-decoration {

    > small {
      display: block;
      color: color.$ui-cool-gray-600;
      @include Typography.Interface(S);
      padding: scale.$sm-3 0 scale.$sm-2;
    }
  }

  .app-latest {

    .app-meta-item {
      padding-top: scale.$sm-1;
      margin-top: scale.$sm-1;
      border-top: 1px solid color.$ui-cool-gray-100;
    }
  }

  .row {
    display: flex;
    align-items: center;

    .icon-tile {
      margin-right: scale.$base;
    }

    .meta small {
      color: color.$ui-cool-gray-600;
      @include Typography.Interface(M);
    }
  }

  .auth-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    height: 100%;

    .card {
      padding: scale.$lg-12;
    }
  }
}
