@use 'pds/tokens/color';
@use 'pds/tokens/scale';
@use 'pds/core/typography/config' as Typography;

@import './_app-card';
@import './_app-item';
@import './_badge';
@import './_breadcrumbs';
@import './_button';
@import './_code';
@import './_flash';
@import './_input';
@import './_icon-tile';
@import './_login';
@import './_onboarding';

#page {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100vw;
  max-width: 1600px;
  margin: 0 auto;
  padding: scale.$lg-3 scale.$lg-4 scale.$lg-5;

  h1,
  h2,
  h3 {
    margin: 0 0 scale.$lg-2;
  }

  h1 {
    @include Typography.Heading(1);
  }

  h2 {
    @include Typography.Heading(2);
  }

  h3 {
    @include Typography.Heading(3);
  }

  h4 {
    @include Typography.Heading(4);
  }

  aside {
    padding-top: scale.$lg-6;
  }

  header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: scale.$base;

    .icon-tile {
      margin-right: scale.$base;
    }

    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-shrink: 0;
      padding: scale.$sm-2 scale.$sm-2 scale.$sm-2 0;
      margin-right: auto;
      min-height: 76px;
      max-width: 100%;

      &.projects-title {
        margin-top: scale.$lg-4;
      }

      h1,
      h2 {
        margin: 0;
        padding-bottom: scale.$sm-3;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        code {
          font-size: 1em;
          font-weight: 600;
          margin: scale.$sm-2 0 scale.$sm-4;
        }

        .badge {
          font-size: 1rem;
          position: relative;
          top: -2px;
          margin-right: scale.$sm-4;
        }
      }

      small {
        display: flex;
        align-items: center;
        color: rgb(var(--text-muted));
        @include Typography.Interface(M);
        padding-bottom: scale.$sm-3;

        .icon {
          width: 16px;
          height: 16px;
          margin-right: scale.$sm-3;
        }
      }
    }

    .actions {
      position: relative;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      max-width: 100%;
      margin: scale.$sm-4 0;

      .button-group {
        display: flex;
        max-width: 100%;

        .button:first-child {
          flex-shrink: 1;
          overflow: hidden;
        }
      }

      .button {
        margin: scale.$sm-3 0;

        span {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          min-width: 0;
        }

        & + .button {
          margin-left: scale.$base;
        }
      }

      .first-run-hint {
        p {
          color: rgb(var(--text-muted));
          @include Typography.Interface(S);
          display: inline-block;
          margin-right: scale.$sm-2;
        }

        .copyable-code {
          margin: scale.$sm-2 0;

          code {
            display: inline-flex;
            font-size: 11px;
            flex-shrink: 0;
          }
        }
      }
    }
  }

  .pds-tabNav {
    padding-top: scale.$sm-2;
    margin-bottom: scale.$lg-4;

    .icon {
      width: scale.$base;
      height: scale.$base;
      margin-right: scale.$sm-3;
    }
    a {
      color: rgb(var(--text-muted));
      display: flex;
      align-items: center;
      &:hover {
        color: rgb(var(--text));
      }
    }
  }

  ul.list {
    li {
      padding-bottom: scale.$base;
      margin-bottom: scale.$base;
      border-bottom: 1px solid rgb(var(--border));

      &:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
        border: none;
      }
    }
  }

  .cards {
    position: relative;
    margin: (-(scale.$lg-2)) (-(scale.$lg-2)) 0;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      width: scale.$lg-3;
    }

    &::before {
      left: -#{scale.$sm-2};
      background: linear-gradient(
        to right,
        rgb(var(--background)),
        rgb(var(--background)),
        rgba(var(--background), 0)
      );
    }

    &::after {
      right: -#{scale.$sm-2};
      background: linear-gradient(
        to left,
        rgb(var(--background)),
        rgb(var(--background)),
        rgba(var(--background), 0)
      );
    }

    .cards-wrap {
      display: flex;
      overflow: auto;
      padding: scale.$sm-1 0 0;
      margin-bottom: scale.$sm-2;
      scrollbar-width: thin;
      scrollbar-color: rgb(var(--outline)) rgb(var(--border));

      &::-webkit-scrollbar {
        height: scale.$sm-3;
      }

      &::-webkit-scrollbar-track {
        background: rgb(var(--border));
        border-radius: scale.$sm-3;
      }

      &::-webkit-scrollbar-thumb {
        background: rgb(var(--outline));
        border-radius: scale.$sm-3;
      }

      &::-webkit-scrollbar-button {
        width: scale.$sm-1;
      }
    }

    .cards-inner {
      display: flex;
      width: 100%;
    }

    .card-outer {
      box-sizing: content-box;
      flex: 1;
      padding: scale.$sm-1;
      margin: 0 -24px;
      min-width: 300px;

      &:first-child {
        padding-left: scale.$lg-2;
        margin-right: 24px;
        margin-left: 0;
      }

      &:last-child {
        padding-right: scale.$lg-2;
        margin-left: 24px;
        margin-right: 0;
      }
    }

    .card {
      flex: 1;
      margin-bottom: 0;
    }
  }

  .card {
    padding: scale.$base;
    margin-bottom: scale.$lg-2;
    box-shadow: $shadow;
    border-radius: 2px;
    background: rgba(var(--card), 0.75);

    &.empty-state {
      border: none;
      padding: scale.$base;

      p {
        display: flex;
        flex-direction: column;
        align-items: center;

        &:only-child {
          color: rgb(var(--text-subtle));
          @include Typography.Interface(S);
        }

        .icon {
          margin-bottom: scale.$sm-2;
        }
      }
    }

    &-header {
      display: flex;
      align-items: center;
      padding-bottom: scale.$sm-1;
      margin-bottom: scale.$sm-1;
      border-bottom: 1px solid rgb(var(--border));

      h4 {
        display: flex;
        align-items: center;
        overflow: hidden;

        span {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }

        .icon {
          width: scale.$lg-1;
          height: scale.$lg-1;
          margin-right: scale.$sm-3;
        }
      }

      a {
        margin-left: auto;
        white-space: nowrap;
        @include Typography.Interface(S);
      }
    }

    h2,
    h4 {
      margin: 0;
    }

    h4 {
      color: rgb(var(--text-muted));
    }

    a {
      text-decoration: none;
    }

    .grid {
      margin-top: scale.$base;
      margin-bottom: -(scale.$sm-2);
      border-top: 1px solid rgb(var(--border));

      > div {
        flex: 1 1 0;
        padding: scale.$sm-2 scale.$base;
        border-right: 1px solid rgb(var(--border));

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          border: none;
          padding-right: 0;
        }
      }
    }
  }

  .app-decoration {
    > small {
      display: block;
      color: rgb(var(--text-muted));
      @include Typography.Interface(S);
      padding: scale.$sm-3 0 scale.$sm-2;
    }
  }

  .row {
    display: flex;
    align-items: center;

    .icon-tile {
      margin-right: scale.$base;
    }

    .meta small {
      color: rgb(var(--text-muted));
      @include Typography.Interface(M);
    }
  }

  .item-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: scale.$base 0;
    border-top: 1px solid rgb(var(--border));
    color: rgb(var(--text-muted));
    @include Typography.Interface(M);

    .item {
      a {
        text-decoration: none;

        .badge {
          margin: 0 scale.$sm-4;
        }
      }

      .badge {
        font-size: 0.75rem;
        padding: scale.$sm-3 scale.$sm-2;
      }
    }
  }

  .output-pane {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 scale.$sm-2 0 0;
    background: rgb(var(--panel));
    border: 1px solid;
    border-color: rgb(var(--border));
    border-radius: 2px;
    min-height: 320px;
    flex-grow: 1;
    flex-shrink: 1;

    .output-scroll-y {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      flex-shrink: 1;
      overflow-y: auto;
      overflow-x: hidden;
      padding: scale.$sm-2 scale.$sm-1;
      height: 0;
      scrollbar-width: thin;
      scrollbar-color: rgb(var(--outline)) rgb(var(--border));
      box-sizing: content-box;

      .output-scroll-x {
        width: 100%;
        flex-shrink: 0;
        overflow-x: auto;
        max-width: 73rem;

        &::-webkit-scrollbar {
          width: scale.$sm-3;
          height: scale.$sm-3;
        }

        &::-webkit-scrollbar-track {
          background: rgb(var(--border));
          border-radius: scale.$sm-3;
        }

        &::-webkit-scrollbar-thumb {
          background: rgb(var(--outline));
          border-radius: scale.$sm-3;
        }

        &::-webkit-scrollbar-button {
          width: scale.$sm-3;
          height: scale.$sm-3;
        }
      }

      &::-webkit-scrollbar {
        width: scale.$sm-3;
        height: scale.$sm-3;
      }

      &::-webkit-scrollbar-track {
        background: rgb(var(--border));
        border-radius: scale.$sm-3;
      }

      &::-webkit-scrollbar-thumb {
        background: rgb(var(--outline));
        border-radius: scale.$sm-3;
      }

      &::-webkit-scrollbar-button {
        width: scale.$sm-3;
        height: scale.$sm-3;
      }

      code {
        display: block;
        font-size: 12px;
        padding: scale.$sm-4 0;
        line-height: var(--pds-lineHeight--dense);
        white-space: pre-wrap;

        &:empty {
          display: none;
        }
      }

      .output-end {
        display: block;
        width: 100%;
        height: scale.$sm-4;
        flex-shrink: 0;
        background: transparent;
      }
    }

    .follow-logs {
      position: absolute;
      top: scale.$sm-2;
      right: scale.$lg-1;
      color: rgb(var(--text-muted));
      background: rgb(var(--card));
      box-shadow: $elevated-shadow;
      border: none;
      border-radius: 2px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: scale.$lg-4;
      padding: 0 scale.$sm-3;
      cursor: pointer;

      @media (prefers-color-scheme: dark) {
        background: rgb(var(--button-secondary));
        border: 1px solid;
        border-color: rgb(var(--button-secondary-border));
      }

      .icon {
        color: rgb(var(--link));
        width: scale.$lg-1;
        height: scale.$lg-1;
        margin: 0 scale.$sm-4;
        pointer-events: none;

        @media (prefers-color-scheme: dark) {
          color: rgb(var(--text));
        }
      }

      .badge {
        color: rgb(var(--info-text));
        background: rgb(var(--info));
        border-radius: scale.$base;
        margin-right: scale.$sm-3;
        pointer-events: none;

        @media (prefers-color-scheme: dark) {
          color: rgb(var(--badge-text));
          background: rgb(var(--text-subtle));
        }
      }
    }

    .empty-state {
      background: none;
      border: none;
    }

    .run-prompt {
      position: relative;
      display: flex;
      align-items: stretch;
      align-self: flex-end;
      width: 100%;
      padding: scale.$sm-2 scale.$sm-2;
      background: rgb(var(--background));
      border-top: 1px solid rgb(var(--border));
      position: sticky;
      bottom: 0;
      margin-top: auto;

      input.run-prompt-input {
        padding: 0 0 scale.$sm-4 scale.$lg-3;
        margin-right: scale.$sm-2;
        line-height: 1.8;
      }

      .prompt-icon {
        position: absolute;
        left: scale.$sm-1;
        top: 13px;
        width: 24px;
        height: 24px;
        pointer-events: none;
        color: rgb(var(--text-muted));
      }
    }
  }

  .empty-state {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    background: rgb(var(--panel));
    border: 1px solid;
    border-color: rgb(var(--border));
    border-radius: 2px;
    padding: scale.$lg-4;

    p {
      color: rgb(var(--text-subtle));
      @include Typography.Interface(M);
      margin: scale.$sm-2;

      &:first-child {
        color: rgb(var(--text-muted));
        @include Typography.Interface(L);
      }

      .copyable-code {
        margin: 0 scale.$sm-4;

        code {
          font-size: 0.95em;
        }
      }

      code.inline {
        font-size: 0.95em;
        color: rgb(var(--text-muted));
        padding: scale.$sm-4 scale.$sm-3;
        background: rgb(var(--badge));
        border-radius: 2px;
      }
    }
  }

  .auth-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    height: 100%;
    padding-top: scale.$lg-2;

    .card {
      text-align: center;
      padding: scale.$lg-8;
    }

    .auth-header {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: scale.$lg-14;
      padding-bottom: scale.$base;
      color: $brand-color;
      margin: (-(scale.$lg-8)) (-(scale.$lg-8)) scale.$lg-6;
      box-shadow: 0 0 0 1px color.$black;
      border-radius: 2px 2px 0 0;
      background: url(/images/pattern.svg) no-repeat top center color.$black;

      @media (prefers-color-scheme: dark) {
        background-color: rgba(color.$black, 0.5);
        box-shadow: 0 0 0 1px rgb(var(--outline));
      }

      .icon.brand {
        width: scale.$lg-14;
        height: scale.$lg-14;

        path {
          fill: color.$black;
          stroke: $brand-color;
        }
      }
    }

    h1 {
      margin: scale.$lg-2 auto scale.$sm-2;

      & + p {
        color: rgb(var(--text-muted));
        @include Typography.Interface(L);
        margin-bottom: scale.$lg-2;
      }
    }

    hr {
      border: none;
      border-top: 1px solid rgb(var(--border));
      margin: scale.$lg-3 0 scale.$lg-2;
    }

    small {
      color: rgb(var(--text-muted));
    }

    .button {
      width: 100%;
    }
  }

  .destroyed-deployments-filter {
    display: block;
    float: right;
    text-align: right;
    margin-bottom: scale.$sm-1;
    button  {
      font-size: 0.75rem;
    }
  }
}

.cli-hint {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: scale.$sm-2;
  width: 410px;
  color: rgb(var(--text-muted));
  background: rgb(var(--card));
  box-shadow: $elevated-shadow;
  border-radius: 2px;
  padding: scale.$sm-1 scale.$base;
  z-index: 99;

  @media (prefers-color-scheme: dark) {
    border: 1px solid;
    border-color: rgb(var(--outline));
  }

  @media only screen and (max-width: 600px) {
    max-width: calc(100vw - 48px);
    margin-left: scale.$lg-2;
  }

  p {
    @include Typography.Interface(M);
    font-weight: normal;
    margin-bottom: scale.$sm-2;
  }

  a {
    text-decoration: none;
  }

  .copyable-code {
    margin-bottom: scale.$sm-3;
  }

  .input-wrap {
    display: flex;
    align-items: stretch;
    margin-bottom: scale.$sm-2;

    input {
      margin-bottom: 0;
    }

    .button {
      margin-left: scale.$sm-2;
    }
  }

  input {
    margin-bottom: scale.$sm-2;
  }

  small {
    font-size: 75%;
    color: rgb(var(--text-muted));
  }

  &-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 98;
  }
}
