.pds-form {
  fieldset {
    border: none;
    padding: 0;
    margin: 0;
    max-width: 800px;
  }

  .pds-formField {
    margin-bottom: scale.$lg-1;
  }

  .pds-formFieldToggle {
    display: flex;
    flex-direction: row;
    .x-toggle-container {
      padding-left: 0;
    }
  }

  .pds-toggleLabel {
    padding-left: scale.$sm-1;;
  }

  .pds-formRadioWrapper {
    display: flex;
    flex-direction: row;

    .pds-radioField {
      margin-right: scale.$lg-1;
    }
  }
}
