@use 'pds';
@use 'pds/tokens/scale';
@use 'pds/utils/layout' as Layout;

body {
  @include Layout.stack(0);
  min-height: 100vh;
}

// Additional resets

p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

// Waypoint styles

code {
  font-size: 0.8em;
  font-family: ui-monospace, 'Menlo', monospace;
  overflow: auto;
  white-space: nowrap;
}

pre code {
  white-space: pre;
}

svg.icon {
  width: scale.$lg-2;
  height: scale.$lg-2;
  flex-shrink: 0;
}

@import './_header';
@import './_page';
