#header {
  position: sticky;
  top: 0;
  color: $white;
  background: $black;
  display: flex;
  padding: $spacing-16 $spacing-32;

  nav {
    display: flex;
    margin-left: auto;

    a {
      margin-left: $spacing-24;
    }
  }

  a {
    color: inherit;
  }

  .brand {
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
  }

  .soon {
    opacity: .4;
    pointer-events: none;
  }
}
