$white: #fff;
$black: #000;

$lightgray: #f7fafc;
$midgray: #5a6370;
$darkgray: #1d2126;

$blue: #1563ff;

$spacing-4: 4px;
$spacing-8: 8px;
$spacing-16: 16px;
$spacing-24: 24px;
$spacing-32: 32px;
$spacing-40: 40px;
$spacing-48: 48px;
$spacing-64: 64px;
$spacing-80: 80px;

$box-shadow: 0 0 0 1px rgba($midgray, .2), 0 2px 1px 1px rgba($midgray, .1);
