.stepsList {
  list-style: none;
  margin: 0;
  padding: 0;

  & > li {
    &:not(:last-of-type) {
      margin-bottom: 600px;

      @media (max-width: 700px) {
        margin-bottom: 88px;
      }
    }
  }
}
