{{#if this.firstRelease.url}}
<ExternalLink href={{enforce-protocol this.firstRelease.url}} class="button button--primary button--external-link">
  <span>{{this.firstRelease.url}}</span>
  <Pds::Icon @type="exit" class="icon" />
</ExternalLink>
{{/if}}
