{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

{{#if this.firstRelease.url}}
<ExternalLink href={{enforce-protocol this.firstRelease.url}} class="button button--primary button--external-link">
  <span>{{this.firstRelease.url}}</span>
  <FlightIcon @name="external-link" class="icon" />
</ExternalLink>
{{/if}}
