{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

<div class="container-image-tag" data-test-container-image-tag>
  {{#each this.imageRefs key="uri" as |imageRef|}}
    <ImageRef @imageRef={{imageRef}} />
  {{else}}
    n/a
  {{/each}}
</div>
