<span class="container-badge" title="Image">
  <Pds::Icon @type={{icon-for-component @registry}} class="icon" />
  {{this.image}}
  <span class="container-badge-tag"><b>{{this.tag}}</b></span>
</span> 
