{{#each this.imageRefs as |imageRef|}}
  <span data-test-container-info class="container-badge" title="Image">
    {{imageRef.label}}
    <span class="container-badge-tag">{{imageRef.tag}}</span>
  </span> 
{{else}}
  n/a
{{/each}}