.numberedBlock {
  padding-top: 24px;
  border-top: 1px solid #62d4dc;
}

.numberedBlockHeader {
  @media (--large) {
    display: flex;
  }
}

.numberedBlockIndex {
  margin-top: 6px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.numberedBlockHeading {
  margin-top: 0;
  margin-bottom: 50px;
  composes: g-type-display-2 from global;
}

.numberedBlockBody {
  @media (--large) {
    padding-left: 60px;
  }
}
