<Card>
    <Card::Header>
        <h4>
            {{inline-svg "public-default" class="icon"}}
            Latest releases
        </h4>
        <LinkTo @route="workspace.projects.project.app.releases">View all releases</LinkTo>
    </Card::Header>
    {{#if (and this.loaded this.releases) }}
    {{#if this.firstRelease}}
    <AppMetaItem::LatestRelease @model={{this.firstRelease }} />
    {{/if}}
    <div class="app-meta-item">
        <ul class="app-meta-item-info">
            {{#each this.extraReleases as |release|}}
            <AppMetaItem::Release @model={{release}} />
            {{/each}}
        </ul>
    </div>
    {{else}}
    No releases
    {{/if}}
</Card>