/* --- Config:SkipLink --- */
@use "../../theme";
@use "../../tokens/color";

$background-color: color.$yellow-200;
$border-color: color.$yellow-600;
$color: color.$black;
$left: 50%;
$padding: theme.$size-xs;
$top-hidden: -100px;
$top-visible: theme.$size-xs;
