.footer {
  padding-top: 218px;
  padding-bottom: 142px;
  background-color: var(--gray-1);
  background-image: url('./pattern.svg');
  background-repeat: no-repeat;
  background-position: top right;
}

.inner {
  --columns: 1;

  composes: g-grid-container from global;
  display: grid;
  grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
  grid-column-gap: 32px;

  @media (--medium-up) {
    --columns: 12;
  }
}

.content {
  grid-column: 1 / -1;

  @media (--medium-up) {
    grid-column: 1 / 4;
  }
}

.contentTitle {
  margin: 0;
  composes: g-type-display-1 from global;
  color: var(--white);
}

.contentDescription {
  margin: 24px 0 8px;
  composes: g-type-body from global;
  color: var(--gray-4);
}

.contentLink {
  margin: 24px 0 0;

  & svg path {
    stroke: var(--waypoint) !important;
  }
}

.cards {
  --columns: 1;

  margin-top: 47px;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
  gap: 32px;

  @media (min-width: 550px) {
    --columns: 2;
  }

  @media (--medium-up) {
    margin-top: 0;
    grid-column: 5 / -1;
  }
}

.bottom {
  grid-column: 1 / -1;
  margin-top: 114px;
  padding-top: 47px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 1px solid var(--gray-2);
  composes: g-type-body-small from global;

  @media (--medium-up) {
    flex-direction: row;
  }
}

.bottomMeta {
  margin-bottom: 47px;
  color: var(--gray-4);

  @media (--medium-up) {
    margin-right: 24px;
  }

  & p {
    margin: 16px 0 4px;
  }

  & a {
    color: var(--gray-4);
    text-decoration: underline;
    transition: color 0.25s ease;

    &:hover {
      color: var(--gray-6);
    }
  }
}

.bottomAnchors {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (--medium-up) {
    flex-direction: row;
  }

  & > * {
    margin-bottom: 12px;

    @media (--medium-up) {
      &:not(:last-child) {
        margin-right: 24px;
      }
    }
  }

  & a {
    color: var(--gray-4);
    transition: color 0.25s ease;

    &:hover {
      color: var(--gray-6);
    }
  }

  & button {
    font: inherit;
    padding: 0;
    background-color: transparent;
    border: 0;
    color: var(--gray-4);
    transition: color 0.25s ease;
    cursor: pointer;
    text-align: left;

    &:hover {
      color: var(--gray-6);
    }
  }

  & .status {
    white-space: nowrap;

    & a.normal {
      padding-left: 20px;
      background: url(/img/status-normal.svg) no-repeat left center;
    }
  }
}

.statusBanner {
  grid-column: 1 / -1;
  display: block;
  position: sticky;
  bottom: 0;
  color: var(--warning-d1);
  text-align: center;
  padding: 16px 32px 20px;
  border-top: 1px solid var(--warning-l1);
  background-color: var(--warning-l2);
  transition: background-color 0.25s ease;

  & span {
    padding-left: 24px;
    background: url(/img/status-degraded.svg) no-repeat left center;
  }

  &:hover {
    background-color: var(--warning-l1);
  }
}
