.footer {
  padding-top: 218px;
  padding-bottom: 142px;
  background-color: var(--gray-1);
  background-image: url('./pattern.svg');
  background-repeat: no-repeat;
  background-position: top right;
}

.inner {
  --columns: 1;

  composes: g-grid-container from global;
  display: grid;
  grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
  grid-column-gap: 32px;

  @media (--medium-up) {
    --columns: 12;
  }
}

.content {
  grid-column: 1 / -1;

  @media (--medium-up) {
    grid-column: 1 / 4;
  }
}

.contentTitle {
  margin: 0;
  composes: g-type-display-1 from global;
  color: var(--white);
}

.contentDescription {
  margin: 24px 0 8px;
  composes: g-type-body from global;
  color: var(--gray-4);
}

.contentLink {
  margin: 24px 0 0;

  & svg path {
    stroke: var(--waypoint) !important;
  }
}

.cards {
  --columns: 1;

  margin-top: 47px;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
  gap: 32px;

  @media (min-width: 550px) {
    --columns: 2;
  }

  @media (--medium-up) {
    margin-top: 0;
    grid-column: 5 / -1;
  }
}

.bottom {
  grid-column: 1 / -1;
  margin-top: 114px;
  padding-top: 47px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 1px solid var(--gray-2);
  composes: g-type-body-small from global;

  @media (--medium-up) {
    flex-direction: row;
  }
}

.bottomMeta {
  margin-bottom: 47px;
  color: var(--gray-4);

  @media (--medium-up) {
    margin-right: 24px;
  }

  & p {
    margin: 16px 0 4px;
  }

  & a {
    color: var(--gray-4);
    text-decoration: underline;
    transition: color 0.25s ease;

    &:hover {
      color: var(--gray-6);
    }
  }
}

.bottomAnchors {
  display: flex;
  flex-direction: column;

  @media (--medium-up) {
    flex-direction: row;
  }

  & a {
    margin-bottom: 12px;
    color: var(--gray-4);
    transition: color 0.25s ease;

    @media (--medium-up) {
      & + a {
        margin-left: 24px;
      }
    }

    &:hover {
      color: var(--gray-6);
    }
  }
}
