@use "pds/theme";
@use "pds/tokens/color";
@use "pds/tokens/font";
@use "pds/tokens/scale";

// FIXME: no styles in index
// FIXME: alphabetize properties
// FIXME: differentiate a:active vs a.active
// FIXME: a[href] for links
// FIXME: avoid font style overrides

.tabs {
  border-bottom: 1px solid theme.$border-color;

  a {
    color: color.$ui-gray-500;
    display: inline-block;
    padding: scale.$base;
    font-style: normal;
    font-weight: font.$weight-medium;
    font-size: 14px;
    line-height: 1.3;
    margin-bottom: -1px;
    text-decoration: none;

    &:hover {
      color: color.$ui-gray-500;
      background-color: color.$ui-gray-100;
      box-shadow: inset 0px -3px 0px theme.$border-color;
    }

    &.active,
    &:active {
      color: theme.$action-base;
      box-shadow: inset 0px -3px 0px theme.$action-base;
    }

    &:disabled {
      color: color.$ui-gray-300;
      background-color: color.$ui-gray-100;
      opacity: 0.5;
    }
  }
}
