<h1>Welcome to Waypoint</h1>
<p>To get started, please authenticate</p>

<p>
  <LinkTo @route="auth.token" class="button button--primary">Authenticate...</LinkTo>
</p>
<hr />
<p>
  <small>
    Received an invite?
    <LinkTo @route="auth.invite">Redeem invite</LinkTo>
  </small>
</p>