{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

<h1>{{t 'invite_login.title'}}</h1>
<p>{{if this.cli (t 'invite_login.cli_subtitle') (t 'invite_login.subtitle')}}</p>

<LoginInvite @inviteToken={{this.token}} @cli={{this.cli}} />