{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

<h1>{{t 'login.title'}}</h1>
<p>{{t 'login.subtitle'}}</p>

<LoginToken />

<hr />
<small>
  <LinkTo @route="auth">{{t 'login.oidc_link'}}</LinkTo>
</small>
<hr />
<small>
  Received an invite?
  <LinkTo @route="auth.invite">Redeem invite</LinkTo>
</small>

