<h1 class="h1">Authenticate Waypoint</h1>
<p>To get started, authenticate with a token</p>

<LoginToken />

<hr />
<small>
  Received an invite?
  <LinkTo @route="auth.invite">Redeem invite</LinkTo>
</small>
