<h1>{{t 'login.title'}}</h1>
<p>{{t 'login.subtitle'}}</p>

<LoginToken />

<hr />
<small>
  {{!-- Did not swap out for Hds::LinkTo::Standalone because component requires an icon --}}
  <LinkTo @route="auth">{{t 'login.oidc_link'}}</LinkTo>
</small>
<hr />
<small>
  Received an invite?
  {{!-- Did not swap out for Hds::LinkTo::Standalone because component requires an icon --}}
  <LinkTo @route="auth.invite">Redeem invite</LinkTo>
</small>

