.gradientBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-image: linear-gradient(
    50.7deg,
    var(--waypoint-accent) 0%,
    var(--waypoint) 100%
  );

  & > svg {
    vertical-align: top;
  }
}

.gradientBoxText {
  composes: g-type-display-5 from global;
}
