<PageHeader>
  <h1>Projects</h1>
  <small>{{pluralize @model.length "project"}}</small>
</PageHeader>

<div data-test-project-list=true>
  {{#each @model as |project|}}
  <Detail::Card>
    <LinkTo @route="workspace.projects.project" @model={{project.project}}>
      <div class="row">
        <IconTile @icon="folder-outline" />
        <div class="meta">
          <h2>{{project.project}}</h2>
          <small>{{pluralize 99 "application"}}</small>
        </div>
      </div>
    </LinkTo>
  </Detail::Card>
  {{/each}}
</div>