<h1>Projects</h1>

<div data-test-project-list=true>
  {{#each @model as |project|}}
    <Card>
      <LinkTo @route="workspace.projects.project" @model={{project.project}}>
        <h3>{{project.project}}</h3>
      </LinkTo>
    </Card>
  {{/each}}
</div>
