<h1>Projects</h1>

<div data-test-project-list=true>
  {{#each @model as |project|}}
    <Card>
      <LinkTo @route="workspace.projects.project" @model={{project.project}}>
        <div class="row">
          {{inline-svg "folder-outline" class="icon"}}
          <h3>{{project.project}}</h3>
        </div>
      </LinkTo>
    </Card>
  {{/each}}
</div>
