<LinkTo @route="workspace.projects">
  Projects
</LinkTo>

<PageHeader @iconName="folder-outline">
  <div class="title">
    <h1>{{@model.name}}</h1>
    <small>Project metadata</small>
  </div>
</PageHeader>

{{outlet}}