<div class="artifact-overview">
  <table>
    <tbody>
      {{#if (has-block)}}
        {{yield}}
      {{else}}
        {{t "page.deployment.overview.unavailable"}}
      {{/if}}
    </tbody>
  </table>
</div>
