<div class="xterm-pane"
  {{!-- Todo: investigate other strategy than using (action )--}}
  {{did-insert (action this.didInsertNode)}}
  {{will-destroy (action this.willDestroyNode)}}
  {{did-resize (action this.didResize)}}>
</div>
