<header id="header">
  <LinkTo @route="application" class="brand">{{t "product.name"}}</LinkTo>
  <nav>
    <a href="#" class="soon">Documentation</a>
    <LinkTo @route="auth">{{t "nav.auth"}}</LinkTo>
  </nav>
</header>

<section id="page">
  {{outlet}}
</section>
