{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

<div class="auth-page">
  <Card>
    <div class="auth-header">
      <FlightIcon @name="waypoint" class="icon brand" @size="24" />
    </div>

    {{outlet}}
  </Card>
</div>