<div class="auth-page">
  <Card>
    {{inline-svg "waypoint-logo" class="logo"}}
    <h1>Welcome to Waypoint</h1>
    <p>To get started, authenticate via the CLI</p>
    <p>
      <LinkTo @route="auth.invite">Enter Invite</LinkTo>
    </p>
    <p>
      <LinkTo @route="auth.token">Enter Token</LinkTo>
    </p>
    {{outlet}}
  </Card>
</div>