<div class="flash flash--error">
  <div class="flash-header">
    <Pds::Icon @type="alert-triangle" class="icon" />
    <p>An error occurred</p>
  </div>
  <hr />
  <pre>{{@model.message}}</pre>
</div>