{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
}}

<div class="flash flash--error">
  <div class="flash-header">
    <FlightIcon @name="alert-triangle" class="icon" />
    <p>An error occurred</p>
  </div>
  <hr />
  <pre>{{@model.message}}</pre>
</div>