{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
}}

<div class="lab/header">
  <LinkTo @route="lab">
    <FlightIcon @name="folder-fill" />
    Lab Home
  </LinkTo>
</div>

{{outlet}}
