.pds-tabNav {
  padding-top: scale.$sm-2;
  margin-bottom: scale.$lg-4;

  :any-link:not(.pds-button) {
    display: flex;
  }

  .icon {
    display: flex;
    margin-right: scale.$sm-3;
  }
  a {
    color: rgb(var(--text-muted));
    display: flex;
    align-items: center;
    &:hover {
      color: rgb(var(--text));
    }
  }

  @media (prefers-color-scheme: dark) {
    border-bottom: 1px solid color.$ui-cool-gray-700;

    a:hover {
      background: color.$ui-cool-gray-800!important;
    }
  }
}
